<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->
	<!-- BEGIN HEAD -->

	<head>
		<meta charset="utf-8" />
		<title>基金管理人详情｜三板慧｜金融大数据</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		<link href="../../assets/global/plugins/mui/css/mui.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
		<link rel="stylesheet" type="text/css" href="../../assets/admin/layout/css/paging.css">
		<link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/fundManager/fundMgdetail.css" rel="stylesheet" type="text/css" />
		<!-- END THEME STYLES -->
		<link rel="shortcut icon" href="favicon.ico" />
		<script type="text/javascript" charset="utf-8">
	      	var html = document.getElementsByTagName("html")[0];
	        if (html.offsetWidth < 768) {
	            html.style.fontSize = html.offsetWidth / 750 * 100 + "px";
	            addEventListener("resize", function() {
					html.style.fontSize = html.offsetWidth / 750 * 100 + "px";
				}, false);
	        }
	    </script>
	</head>

	<body class="page-header-fixed page-quick-sidebar-over-content page-container-bg-solid">
		<!-- BEGIN HEADER -->
		<div class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
			<!-- BEGIN HEADER INNER -->
			<div class="page-header-inner">
				<!-- BEGIN LOGO -->
				<div class="page-logo">
					<a href="/index.php/companylisted/index">
						<img src="../../assets/admin/layout/img/logo.png" alt="logo" class="logo-default" />
					</a>
					<div class="menu-toggler sidebar-toggler hide">
					</div>
				</div>
				<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
				</a>
				<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					<li class="dropdown dropdown-extended dropdown-notification mgr20" id="header_notification_bar">
						<a href="/account/buy" class="dropdown-toggle" style="height:55px">
							<i class="fa fa-dollar"></i>
							<span class="badge badge-default" style="right: -18px">购买</span>
						</a>
					</li>
					<!--<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
							<i class="icon-bell"></i>
							<span class="badge badge-default">
					7 </span>
						</a>
						<ul class="dropdown-menu">
							<li class="external">
								<h3><span class="bold">12 条</span> 通知</h3>
								<a href="###">全部查看</a>
							</li>
							<li>
								<ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
									<li>
										<a href="javascript:;">
											<span class="time">刚刚</span>
											<span class="details">
												<span class="label label-sm label-icon label-success">
												<i class="fa fa-plus"></i>
												</span>新用户注册</span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
											<span class="time">5分钟前</span>
											<span class="details">
												<span class="label label-sm label-icon label-success">
												<i class="fa fa-plus"></i>
												</span>小红来电</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>-->
					<!--<li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
							<i class="icon-envelope-open"></i>
							<span class="badge badge-default">
					4 </span>
						</a>
						<ul class="dropdown-menu">
							<li class="external">
								<h3>你有 <span class="bold">7条</span> 新信息</h3>
								<a href="page_inbox.html">查看全部</a>
							</li>
							<li>
								<ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
									<li>
										<a href="inbox.html?a=view">
											<span class="photo">
									<img src="../../assets/admin/layout/img/avatar.png" class="img-circle" alt="">
									</span>
											<span class="subject">
									<span class="from">
									王刚 </span>
											<span class="time">刚刚 </span>
											</span>
											<span class="message">
									你在哪，我快到了，你来接我吧，你几点下班... </span>
										</a>
									</li>
									<li>
										<a href="inbox.html?a=view">
											<span class="photo">
									<img src="../../assets/admin/layout/img/avatar1.jpg" class="img-circle" alt="">
									</span>
											<span class="subject">
									<span class="from">
									李保田</span>
											<span class="time">16分钟前 </span>
											</span>
											<span class="message">
									剧组放假了，大家一起来吃肉... </span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>-->
					<li class="dropdown dropdown-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
							<img alt="" class="img-circle" src="http://user.kaifengdata.com/man.png" />
							<span class="username username-hide-on-mobile">
					齐天大圣 </span>
							<i class="fa fa-angle-down"></i>
						</a>
						 <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="/account/info">
                                        <i class="icon-user"></i>我的三板慧</a>
                                </li>
                                <li class="pay">
                                    <a href="JavaScript:void(0)" id="dk">
                                        <i class="fa fa-check-square-o"></i><span>每日打卡</span></a>
                                </li>
                                <li>
                                    <a href="/account/modifyPassword">
                                        <i class="fa fa-pencil-square-o"></i>修改密码 </a>
                                </li>
                                <li>
                                    <a href="/account/version">
                                        <i class="fa fa-file-o"></i>版本介绍 
                                    </a>
                                </li>
                                <li>
                                    <a href="/account/feedback">
                                        <i class="icon-envelope-open"></i>意见反馈
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/logout">
                                        <i class="fa fa-sign-out"></i>退出 </a>
                                </li>
                            </ul>
					</li>
				</ul>
			</div>
				<!-- END TOP NAVIGATION MENU -->
				 <div class="pc-search hidden-xs hidden-sm">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <input type="text" name="" id="searchBlur" value="" placeholder="搜索公司，基金，资料" />
                    <div class="searchList">
                        <ul></ul>
                    </div>
                </div>
			</div>
			<!-- END HEADER INNER -->
		</div>
		<!-- END HEADER -->
		<div class="clearfix">
		</div>
		<!-- BEGIN CONTAINER -->
		<div class="page-container">
			<!-- BEGIN SIDEBAR -->
			<div class="page-sidebar-wrapper">
				<div class="page-sidebar navbar-collapse collapse">
					<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
						<li class="sidebar-toggler-wrapper">
							<div class="sidebar-toggler">
							</div>
						</li>
						<li class="sidebar-search-wrapper">
							<form class="sidebar-search " action="extra_search.html" method="POST">
								<a href="javascript:;" class="remove">
									<i class="icon-close"></i>
								</a>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="搜索">
									<span class="input-group-btn">
							<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
							</span>
								</div>
							</form>
							<!-- END RESPONSIVE QUICK SEARCH FORM -->
						</li>
						<li class="start active open">
							<a href="javascript:;">
								<!--<i class="icon-home"></i>-->
								<span class="title">新三板</span>
								<span class="selected"></span>
								<span class="arrow open"></span>
							</a>
							<ul class="sub-menu">
								<li class="active">
									<a href="挂牌公司列表页.html">
										<!--<i class="icon-bar-chart"></i>-->
										挂牌公司</a>
								</li>
								<li>
									<a href="公告.html">
										<!--<i class="icon-bulb"></i>-->
										公告</a>
								</li>
								<li>
									<a href="定增.html">
										<!--<i class="icon-graph"></i>-->
										定增</a>
								</li>
								<li>
									<a href="交易.html">
										<!--<i class="icon-graph"></i>-->
										交易</a>
								</li>
								<li>
									<a href="#">
										<!--<i class="icon-graph"></i>-->
										主办券商</a>
								</li>
								<li>
									<a href="#">
										<!--<i class="icon-graph"></i>-->
										政策法规</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:;">
								<!--<i class="icon-basket"></i>-->
								<span class="title">投资</span>
								<span class="arrow "></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="投资事件.html">
										<!--<i class="icon-home"></i>-->
										投资事件</a>
								</li>
								<li>
									<a href="投资机构列表页.html">
										<!--<i class="icon-basket"></i>-->投资机构</a>
								</li>
								<li>
									<a href="#">
										<!--<i class="icon-tag"></i>-->
										私募基金管理人</a>
								</li>

							</ul>
						</li>
						<li>
							<a href="#">
								<!--<i class="icon-rocket"></i>-->
								<span class="title">新闻</span>
								<span class="arrow "></span>
							</a>

						</li>
						<li>
							<a href="javascript:;">
								<!--<i class="icon-diamond"></i>-->
								<span class="title">研报</span>
								<span class="arrow "></span>
							</a>

						</li>
						<li>
							<a href="#">
								<!--<i class="icon-puzzle"></i>-->
								<span class="title">关系查找</span>
								<span class="arrow "></span>
							</a>

						</li>
					</ul>
					<!-- END SIDEBAR MENU -->
				</div>
			</div>
			<!-- END SIDEBAR -->
			<!-- BEGIN CONTENT -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
					<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
									<h4 class="modal-title">Modal title</h4>
								</div>
								<div class="modal-body">
									Widget settings form goes here
								</div>
								<div class="modal-footer">
									<button type="button" class="btn blue">Save changes</button>
									<button type="button" class="btn default" data-dismiss="modal">Close</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>

					<!-- END STYLE CUSTOMIZER -->
					<!-- BEGIN PAGE HEADER-->
					<div class="page-bar">
						<ul class="page-breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                新三板
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                基金管理人
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                基金管理人详情
                            </li>
                            <li class='nowTimeTop'>
								北京时间：<span id="nowDate"></span>
							</li>
                        </ul>
					</div>
					<div class="page-content-par">
					<div class="row mod-title">
						<div class="col-md-12">基金管理人详情</div>
					</div>
					<div class="page-height"></div>
					<div class="row mod-cus">
						<div class="compName-wrap">
							<div class="compName">
								<span id="compName"></span>
							</div>
						</div>
						<p class="updateTime">
							<span>最后更新时间：</span>
							<span  id="lastTime"></span>
						</p>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="tabbable-line boxless tabbable-reversed">
								<div class="tab-content" style="border-top: none;">
									<div class="tab-pane active" id="tab_0">
										<!--table栏开始-->
										<div class="portlet box darkCyan">
											<div class="portlet-body maskInTable maskInTableFund" >
												<div class="msg-wrap">
													<div class="msg-title">机构信息</div>
													<div class="msg-detail">
														
													</div>
												</div>
												<div id="namefulas" class="fundinColor">
													<div>
														基金管理人全称(中文)：<span id="fullname"></span>
													</div>
													<div>
														基金管理人全称(英文)：<span id="fullEnName"></span>
													</div>
													<div>
														登记编号：<span id="deDcode"></span>
													</div>
													<div>
														组织机构代码：<span id="orgCode"></span>
													</div>
													<div class="fundHalf">
														登记时间：<span id="regDate"></span>
													</div>
													<div class="fundHalf">
														成立时间：<span id="fundDate"></span>
													</div>
													<div>
														注册地址：<span id="regAddress"></span>
													</div>
													<div>
														办公地址：<span id="workAddress"></span>
													</div>
													<div class="fundHalf">
														注册资本(万元)(人民币)：<span id="remoney"></span>
													</div>
													<div class="fundHalf">
														实缴资本：<span id="realMoney"></span>
													</div>
													<div class="fundHalf">
														企业性质：<span id="companyType"></span>
													</div>
													<div class="fundHalf">
														注册资本实缴比例：<span id="realRatio"></span>
													</div>
													<div class="fundHalf">
														机构类型：<span id="fundType"></span>
													</div>
													<div class="fundHalf">
														业务类型：<span id="fundOther"></span>
													</div>
													<div class="fundHalf">
														员工人数：<span id="memberNum"></span>
													</div>
													<div class="fundHalf">
														机构网址：<span id="website"></span>
													</div>
												</div>
												<div class="msg-wrap">
													<div class="msg-title">会员信息</div>
													<div class="msg-detail">
														
													</div>
												</div>
												<div id="vipInfor" class="fundinColor">
													<div>
														是否为会员：<span id="isVip"></span>
													</div>
													<div class="fundHalf">
														入会时间：<span id="vipDate"></span>
													</div>
													<div class="fundHalf">
														当前会员类型：<span id="vipType"></span>
													</div>
												</div>
												<div class="msg-wrap">
													<div class="msg-title">法律意见书信息</div>
													<div class="msg-detail">
														
													</div>
												</div>
												<div id="vipInfor2" class="fundinColor">
													<div>
														法律意见书状态：<span id="legalOpinions"></span>
													</div>
													<div>
														律师事务所名称：<span id="legalOpinions2"></span>
													</div>
													<div>
														律师姓名：<span id="legalOpinions3"></span>
													</div>
												</div>
												<div class="msg-wrap">
													<div class="msg-title">高管信息</div>
													<div class="msg-detail">
														
													</div>
												</div>
												<div id="vipInfor3" class="fundinColor">
													<div>
														法定代表人/执行事务合伙人(委派代表)姓名：<span id="legalPerson"></span>
													</div>
													<div class="fundHalf">
														是否有从业资格：<span id="isQualification"></span>
													</div>
													<div class="fundHalf">
														资格取得方式：<span id="qualificationMode"></span>
													</div>
												</div>
												<div class="table-scroll-par">
													<div class="table-scrollable fundTableBox" id="fundTableDb">
														<div class="fundinTh">
															法定代表人/执行事务合伙人(委派代表)工作履历：
														</div>
														<div class="portlet-body maskInTable maskInTableTh">
															<table class="table table-striped table-bordered table-hover">
																<thead class="view-tr">
																	<tr class="tr">
																		<th>
																			时间
																		</th>
																		<th>
																			任职单位
																		</th>
																		<th>
																			职务
																		</th>
																	</tr>
																</thead>
																<tbody id="workMsgTable">
		
																</tbody>
															</table>
														</div>
													</div>
													<div class="dataDiv1"></div>
												</div>
												<div class="table-scroll-par">
													<div class="table-scrollable fundTableBox" id="maskInTableGg">
														<div class="fundinTh">
															高管情况：
														</div>
														<div class="portlet-body maskInTable maskInTableTh">
															<table class="table table-striped table-bordered table-hover">
																<thead class="view-tr">
																	<tr class="tr">
																		<th>
																			高管姓名
																		</th>
																		<th>
																			职务
																		</th>
																		<th>
																			是否具有基金从业资格
																		</th>
																	</tr>
																</thead>
																<tbody id="fundMsgTable">
		
																</tbody>
															</table>
														</div>
													</div>
												<div class="dataDiv2"></div>
												</div>
												<div class="msg-wrap">
													<div class="msg-title">产品信息</div>
													<div class="msg-detail">
														
													</div>
												</div>
												<div class="table-scroll-par maskInTableJj" id="maskInTableJj">
													<div class="table-scrollable fundTableBox fundTableOne" style="margin-bottom: 0!important;">
														<div class="fundinTh">
															暂行办法实施前成立的基金：
														</div>
														<div class="portlet-body maskInTable maskInTableTh">
															<table class="table table-striped table-bordered table-hover">
																<tbody id="proMsgTable">
																</tbody>
															</table>
														</div>
													</div>	
													<div class="table-scrollable fundTableBox fundTableTwo" style="margin-top: 0!important;">
														<div class="fundinTh">
															暂行办法实施后成立的基金：
														</div>
														<div class="portlet-body maskInTable maskInTableTh">
															<table class="table table-striped table-bordered table-hover">
																<tbody id="proMsgTable2">
																</tbody>
															</table>
														</div>
													</div>	
												</div>
												<div class="dataDiv3"></div>
												<div class="msg-wrap">
													<div class="msg-title">诚信信息</div>
													<div class="msg-detail">
														
													</div>
												</div>
												<div class="fundinColor">
													<div>
														机构信息最后更新时间：<span id="updatedDate"></span>
													</div>
													<div>
														特别提示信息：<span id="specialNote"></span>
													</div>
												</div>
											</div>
										</div>
										<!--表单结束-->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END PAGE CONTENT-->
				</div>
			</div>
			
			</div>
			<!-- END QUICK SIDEBAR -->
		</div>
		<!-- END CONTAINER -->
		<!-- BEGIN FOOTER -->
		<div class="page-footer">
			<div class="page-footer-inner">
				&copy;&nbsp;2016&nbsp;北京凯峰数据科技有限公司&nbsp;版权所有&nbsp;|&nbsp;京ICP备16037008号-1
			</div>
			<div class="scroll-to-top">
				<i class="icon-arrow-up"></i>
			</div>
		</div>
		<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
				<!-- BEGIN CORE PLUGINS -->
				<!--[if lte IE 8]><script src="js/libs/selectivizr.js"></script><![endif]-->
				<!--[if lt IE 9]>
				<script src="../../assets/global/plugins/respond.min.js"></script>
				<script src="../../assets/global/plugins/excanvas.min.js"></script> 
				<![endif]-->
				<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
				<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
				<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
				<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
				<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
				<!-- BEGIN PAGE LEVEL SCRIPTS -->
				<script type="text/javascript" src="../../assets/global/plugins/query.js"></script>
				<script type="text/javascript" src="../../assets/global/plugins/paging.js"></script>
				<script src="../../assets/global/scripts/kfStyle.js" type="text/javascript"></script>
				<script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
				<script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/jquery.cookie.js" type="text/javascript"></script>
				<script src="../../assets/global/scripts/application.js" type="text/javascript"></script>
				<script src="../../assets/global/scripts/fundManager/fundManager.js" type="text/javascript"></script>
				<script type="text/javascript" src="../../assets/global/plugins/select2.js"></script>
		<script>
			$(function(){
				fundMgDetail.init();
				KfStyle.init();
                Layout.init(); 
			});
		</script>
	</body>

</html>