<div class="tab-pane ipoIndexTab">
	<div class="page-line"></div>
	<div class="msg-wrap">
		<div class="msg-title">基本信息</div>
		<div class="msg-detail ">
			<span>
				指数名称：全国中小企业股份转让系统拟IPO指数<br />
				指数简称：三板IPO指数<br />
				指数代码：NIPO
			</span>
		</div>
	</div>
	<div class="msg-wrap">
		<div class="msg-title">指数基准日和基点</div>
		<div class="msg-detail">
			<span>指数以2015年7月1日为基日，以该日收盘后所有符合入选条件的样本股的调整市值为基期，以1000点为基点</span>
		</div>
	</div>
	<div class="msg-wrap">
		<div class="msg-title">样本选取方法</div>
		<div class="msg-detail">
			<span>
				样本由同时满足以下条件的全国中小企业股份转让系统挂牌公司组成：<br />
				1、股票挂牌后，对应企业在股转系统官网宣布进入上市辅导，次交易日日纳入；<br />
				2、股票对应企业宣布终止辅导后，次交易日剔除
			</span>
		</div>
	</div>
	<div class="msg-wrap">
		<div class="msg-title">指数计算</div>
		<div class="msg-detail">
			<span>
				指数的计算公式为：<br />
				报告期指数=报告期成份股的调整市值/除数*1000<br />
				其中：调整市值＝ ∑(股价×流通股本数×权重上限因子)，权重上限因子减弱个股异常波动对于整体指数影响
			</span>
		</div>
	</div>
	<div class="msg-wrap">
		<div class="msg-title">指数调整</div>
		<div class="msg-detail">
			<span>指数根据成份是否满足样本条件而不定期调整。</span>
		</div>
	</div>
</div>