<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->
	<!-- BEGIN HEAD -->

	<head>
		<meta charset="utf-8" />
		<title>工商信息｜三板慧｜金融大数据</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
		<link rel="stylesheet" type="text/css" href="../../assets/admin/layout/css/paging.css">
		<link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
		<!-- END THEME STYLES -->

	</head>

	<body class="page-header-fixed page-quick-sidebar-over-content page-container-bg-solid">
		<div class="modal fade myModal01" id="mySoftWall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">著作人详情信息</h4>
		      </div>
		      <div class="modal-body">
		        <div class="province" id="comProvince">
		        	<table class="table table-condensed table-hover table-team">
						<tbody id="privateList">
							
						</tbody>
					</table>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal" id="">确定</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- BEGIN HEADER -->
		<div class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
			<!-- BEGIN HEADER INNER -->
			<div class="page-header-inner">
				<!-- BEGIN LOGO -->
				<div class="page-logo">
					<a href="/index.php/companylisted/index">
						<img src="../../assets/admin/layout/img/logo.png" alt="logo" class="logo-default" />
					</a>
					<div class="menu-toggler sidebar-toggler hide">
					</div>
				</div>
				<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
				</a>
				<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					<li class="dropdown dropdown-extended dropdown-notification mgr20" id="header_notification_bar">
						<a href="/account/buy" class="dropdown-toggle" style="height:55px">
							<i class="fa fa-dollar"></i>
							<span class="badge badge-default" style="right: -18px">购买</span>
						</a>
					</li>
					<li class="dropdown dropdown-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
							<img alt="" class="img-circle" src="http://user.kaifengdata.com/man.png" />
							<span class="username username-hide-on-mobile">
					齐天大圣 </span>
							<i class="fa fa-angle-down"></i>
						</a>
						 <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="/account/info">
                                        <i class="icon-user"></i>我的三板慧</a>
                                </li>
                                <li class="pay">
                                    <a href="JavaScript:void(0)" id="dk">
                                        <i class="fa fa-check-square-o"></i><span>每日打卡</span></a>
                                </li>
                                <li>
                                    <a href="/account/modifyPassword">
                                        <i class="fa fa-pencil-square-o"></i>修改密码 </a>
                                </li>
                                <li>
                                    <a href="/account/version">
                                        <i class="fa fa-file-o"></i>版本介绍 
                                    </a>
                                </li>
                                <li>
                                    <a href="/account/feedback">
                                        <i class="icon-envelope-open"></i>意见反馈
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/logout">
                                        <i class="fa fa-sign-out"></i>退出 </a>
                                </li>
                            </ul>
					</li>
				</ul>
			</div>
				<!-- END TOP NAVIGATION MENU -->
				 <div class="pc-search hidden-xs hidden-sm">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <input type="text" name="" id="searchBlur" value="" placeholder="搜索公司，基金，资料" />
                    <div class="searchList">
                        <ul></ul>
                    </div>
                </div>
			</div>
			<!-- END HEADER INNER -->
		</div>
		<!-- END HEADER -->
		<div class="clearfix">
		</div>
		<!-- BEGIN CONTAINER -->
		<div class="page-container">
			<!-- BEGIN SIDEBAR -->
			<div class="page-sidebar-wrapper">
				<div class="page-sidebar navbar-collapse collapse">
					<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
						<li class="sidebar-toggler-wrapper">
							<div class="sidebar-toggler">
							</div>
						</li>
						<li class="sidebar-search-wrapper">
							<form class="sidebar-search " action="extra_search.html" method="POST">
								<a href="javascript:;" class="remove">
									<i class="icon-close"></i>
								</a>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="搜索">
									<span class="input-group-btn">
							<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
							</span>
								</div>
							</form>
							<!-- END RESPONSIVE QUICK SEARCH FORM -->
						</li>
						<li class="start active open">
							<a href="javascript:;">
								<!--<i class="icon-home"></i>-->
								<span class="title">新三板</span>
								<span class="selected"></span>
								<span class="arrow open"></span>
							</a>
							<ul class="sub-menu">
								<li class="active">
									<a href="挂牌公司列表页.html">
										<!--<i class="icon-bar-chart"></i>-->
										挂牌公司</a>
								</li>
								<li>
									<a href="公告.html">
										<!--<i class="icon-bulb"></i>-->
										公告</a>
								</li>
								<li>
									<a href="定增.html">
										<!--<i class="icon-graph"></i>-->
										定增</a>
								</li>
								<li>
									<a href="交易.html">
										<!--<i class="icon-graph"></i>-->
										交易</a>
								</li>
								<li>
									<a href="#">
										<!--<i class="icon-graph"></i>-->
										主办券商</a>
								</li>
								<li>
									<a href="#">
										<!--<i class="icon-graph"></i>-->
										政策法规</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:;">
								<!--<i class="icon-basket"></i>-->
								<span class="title">投资</span>
								<span class="arrow "></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="投资事件.html">
										<!--<i class="icon-home"></i>-->
										投资事件</a>
								</li>
								<li>
									<a href="投资机构列表页.html">
										<!--<i class="icon-basket"></i>-->投资机构</a>
								</li>
								<li>
									<a href="#">
										<!--<i class="icon-tag"></i>-->
										私募基金管理人</a>
								</li>

							</ul>
						</li>
						<li>
							<a href="#">
								<!--<i class="icon-rocket"></i>-->
								<span class="title">新闻</span>
								<span class="arrow "></span>
							</a>

						</li>
						<li>
							<a href="javascript:;">
								<!--<i class="icon-diamond"></i>-->
								<span class="title">研报</span>
								<span class="arrow "></span>
							</a>

						</li>
						<li>
							<a href="#">
								<!--<i class="icon-puzzle"></i>-->
								<span class="title">关系查找</span>
								<span class="arrow "></span>
							</a>

						</li>
					</ul>
					<!-- END SIDEBAR MENU -->
				</div>
			</div>
			<!-- END SIDEBAR -->
			<!-- BEGIN CONTENT -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<ul class="page-breadcrumb">
							<li>
								<i class="fa fa-home"></i>
								新三板
								<i class="fa fa-angle-right"></i>
							</li>
							<li>
								工商信息
							</li>
							<li class='nowTimeTop'>
								北京时间：<span id="nowDate"></span>
							</li>
						</ul>
					</div>
					<div class="page-content-par">
						<div class="row mod-title">
							<div class="col-md-12">工商信息</div>
						</div>
						<div class="page-height">
							
						</div>
						<div class="row mod-cus">
							<ul class="list-inline" id="fullCodeNamePar">
								<li style="cursor: auto;">
									<h4 id="fullname"></h4></li><br>
							</ul>
						</div>
						<div class="row col-hide ">
							<div class="dropdown dropdown-select">
								<a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">公告 <b class="caret"></b></a>
								<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#tab_0">工商注册信息</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#tab_1">风险信息</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#tab_2">司法信息</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#tab_3">知识产权</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#tab_7">域名备案</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#tab_4">对外投资</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#tab_8">分支机构</a>
									</li>
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="#tab_5">经营信息</a>
									</li>
									<li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#tab_6">股东信息</a>
                                    </li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="tabbable-line boxless tabbable-reversed businessInfor">
									<ul class="list-inline overLi-btn overLi-btn-link  col-show">
										<li class="active">
											<a href="#tab_0" data-toggle="tab">工商注册信息 </a>
										</li>
										<li class="">
											<a href="#tab_1" data-toggle="tab">风险信息 </a>
										</li>
										<li class="">
											<a href="#tab_2" data-toggle="tab">司法信息</a>
										</li>
										<li class="">
											<a href="#tab_3" data-toggle="tab">知识产权 </a>
										</li>
										<li class="">
											<a href="#tab_7" data-toggle="tab">域名备案 </a>
										</li>
										<li class="">
											<a href="#tab_4" data-toggle="tab">对外投资</a>
										</li>
										<li class="">
											<a href="#tab_8" data-toggle="tab">分支机构</a>
										</li>
										<li class="">
											<a href="#tab_5" data-toggle="tab">经营信息 </a>
										</li>
										<li role="presentation" class="overli-noborder">
                                            <a href="#tab_6" data-toggle="tab">股东信息</a>
                                        </li>
									</ul>
									<div class="tab-content" style="border-top: none;">
										<div class="tab-pane active" id="tab_0">
											<div class="msg-wrap">
												<div class="msg-title">工商注册信息</div>
												<div class="msg-detail">

												</div>
											</div>
											<!--table栏开始-->
											<div class="portlet box darkCyan ">
												<div class="portlet-body">
													<div class="table-scrollable tle-mec maskInAjax" style="border: none;">
														<table class="table table-striped">
															<colgroup>
																<col width="45%" />
																<col width="55%" />
															</colgroup>
															<tbody id="oneWd">
																<tr>
																	<td>
																		统一社会信用代码：<span id="creditCode"></span>
																	</td>
																	<td>
																		注册号：<span id="registrationNumber"></span>

																	</td>
																</tr>
																<tr>
																	<td>
																		组织机构代码：<span id="organizationCode"></span>
																	</td>
																	<td>
																		经营状态：<span id="operating_status"></span>
																	</td>

																</tr>
																<tr>
																	<td>
																		公司类型：<span id="company_type"></span>
																	</td>
																	<td>
																		成立时间：<span id="registrationDate"></span>
																	</td>

																</tr>

																<tr>
																	<td>
																		法人代表：<span id="legalRepresentative"></span>
																	</td>
																	<td>
																		注册资本：<span id="registeredCapital"></span>
																	</td>

																</tr>
																<tr>
																	<td>
																		营业期限：<span id="operatingData"></span>
																	</td>
																	<td>
																		登记机关：<span id="registrationAuthority"></span>
																	</td>

																</tr>
																<tr>
																	<td>
																		发照日期：<span id="approvedDate"></span>
																	</td>
																	<td>
																		曾用名：<span id="name"></span>
																	</td>
																</tr>

																<tr>
																	<td>
																		所属行业：<span id="industry"></span>
																	</td>
																	<td>
																		企业地址：<span id="address"></span>
																	</td>
																</tr>
																<tr>
																	<td colspan="2">
																		经营范围：<span id="business_scope"></span>
																	</td>
																</tr>
															</tbody>
														</table>
														<div class="dataDivOne"></div>
													</div>
													<!--变更记录开始-->
													<div class="msg-wrap">
														<div class="msg-title">变更记录（<span id="changeLength"></span>条）</div>
														<div class="msg-detail">

														</div>
													</div>

													<div class="row chengeReg">
														<table class="gub-ul">
															<colgroup>
																<col width="50%" />
																<col width="50%" />
															</colgroup>
															<tbody id="industryTable">

															</tbody>

														</table>
														<div class="dataDiv"></div>
													</div>
												</div>
											</div>

											<!--表单结束-->
										</div>
										<div class="tab-pane" id="tab_1">
											<div class="msg-wrap">
												<div class="msg-title">失信信息</div>
												<div class="msg-detail">

												</div>
											</div>
											<div class="table-scrollable maskInTable">
												<table class="table table-striped table-bordered table-hover">
													<thead class="view-tr">
														<tr class="tr">

															<th>
																案号
															</th>
															<th>
																立案时间
															</th>
															<th>
																执行依据文号
															</th>
															<th>
																执行法院
															</th>
															<th>
																履行情况
															</th>
															<th>
																具体情况
															</th>
															<th>
																判决内容
															</th>

														</tr>
													</thead>
													<tbody id="compDisList">

													</tbody>
												</table>
											</div>
											<div id="DisListPage"></div>
										</div>
										<div class="tab-pane" id="tab_2">
											<div class="msg-wrap">
												<div class="msg-title">法院判决</div>
												<div class="msg-detail">

												</div>
											</div>
											<div class="table-scrollable maskInTable">
												<table class="table table-striped table-bordered table-hover">
													<thead class="view-tr">
														<tr class="tr">
															<th>
																判决日期
															</th>
															<th>
																案号
															</th>
															<th>
																案件标题
															</th>
															<th>
																判决法院
															</th>
														</tr>
													</thead>
													<tbody id="courtList">

													</tbody>
												</table>
											</div>
											<div id="courtPage"></div>
										</div>
										<div class="tab-pane" id="tab_3">
											<div class="msg-title">商标信息</div>
											<div class="row msg-pic">
												<div class="">
													<div class="list_con_down lists_con_down">
														<div class="list_left_btn lists_left_btn"></div>
														<div class="list_con lists_con">
															<ul class="j_ul_list j_ul_lists">
															</ul>
														</div>
														<div class="list_right_btn lists_right_btn"></div>
													</div>
													<!--<div class="dataDiv"></div>-->
												</div>
											</div>
											<div class="msg-wrap">
												<div class="msg-title">公司专利</div>
												<div class="msg-detail">

												</div>
												<div class="table-scrollable maskInTable maskInTablePatent">
													<table class="table table-striped table-bordered table-hover">
														<thead class="view-tr">
															<tr class="tr">
																<th>
																	专利名称
																</th>
																<th>
																	专利类型
																</th>
																<th>
																	申请号
																</th>
																<th>
																	授权日期
																</th>
																<th>
																	摘要
																</th>
															</tr>
														</thead>
														<tbody id="compPatentTable">

														</tbody>
													</table>
												</div>
												<div id="compPatentPage"></div>
											</div>
											<div class="msg-wrap">
												<div class="msg-title">作品著作权</div>
												<div class="msg-detail">

												</div>
												<div class="table-scrollable maskInTable  maskInTableSoft">
													<table class="table table-striped table-bordered table-hover">
														<thead class="view-tr">
															<tr class="tr">
																<th>
																	作品名称
																</th>
																<th>
																	登记号
																</th>
																<th>
																	类别
																</th>
																<th>
																	创作完成日期
																</th>
																<th>
																	登记日期
																</th>
																<th>
																	首次发布日期
																</th>
															</tr>
														</thead>
														<tbody id="whiteTable">

														</tbody>
													</table>
												</div>
												<div id="whitePage"></div>
											</div>
											<div class="msg-wrap">
												<div class="msg-title">软件著作权</div>
												<div class="msg-detail">

												</div>
												<div class="table-scrollable maskInTable  maskInTableProduct">
													<table class="table table-striped table-bordered table-hover">
														<thead class="view-tr">
															<tr class="tr">
																<th>
																	批准日期
																</th>
																<th>
																	软件全称
																</th>
																<th>
																	软件简称
																</th>
																<th>
																	登记号
																</th>
																<th>
																	分类号
																</th>
																<th>
																	版本号
																</th>
																<th>
																	详情
																</th>
															</tr>
														</thead>
														<tbody id="productTable">

														</tbody>
													</table>
												</div>
												<div id="productPage"></div>
											</div>
										</div>
										<div class="tab-pane" id="tab_4">
											<div class="msg-wrap">
												<div class="msg-title">投资关系</div>
											</div>
											<div class="table-scroll-par">
												<div class="portlet-body maskInTable">
													<table class="table table-condensed table-hover">

														<tbody id="tableInvest">

														</tbody>
													</table>
												</div>
											</div>
											<!--下边分页开始-->
											<div id="investPageVest"></div>
										</div>
										
										<div class="tab-pane" id="tab_8">
											<div class="msg-wrap">
												<div class="msg-title">分支机构</div>
											</div>
											<div class="table-scroll-par">
												<div class="portlet-body maskInTable equityList">
													<ul id="childCom" style="overflow: auto;"></ul>
												</div>
											</div>
											<!--下边分页开始-->
											<!--<div id="investPage"></div>-->
										</div>

										<div class="tab-pane" id="tab_5">
											<div class="msg-wrap">
												<div class="msg-title">招聘信息</div>
											</div>
											<div class="table-scroll-par maskInTable">
												<div class="portlet-body">
													<table class="table table-condensed table-hover">
														<colgroup>
															<col width="10%" />
															<col width="70%" />
															<col width="10%" />
															<col width="10%" />
														</colgroup>
														<tbody id="recruitmentTblbe">

														</tbody>
													</table>
												</div>
												<div id="recruitmentPage"></div>
											</div>
										</div>
										<div class="tab-pane" id="tab_6">
                                            <div class="msg-wrap">
                                                <div class="msg-title">股东信息</div>
                                            </div>
                                            <div class="tab-pane" id="tab_4">
                                                <div class="table-scrollable maskInTable">
												<table class="table table-striped table-bordered table-hover">
													<colgroup>
                                                            <col width="30%" />
                                                            <col width="20%" />
                                                            <col width="20%" />
                                                            <col width="20%" />
                                                        </colgroup>
													<thead class="view-tr">
														<tr class="tr">
															 <th class="leftIn">
                                                                   	 股东名称
                                                                </th>
                                                                <th class="leftIn">
                                                                    	股东类型
                                                                </th>
                                                                <th class="leftIn">
                                                                    	出资金额
                                                                </th>
                                                                <th class="leftIn">
                                                                    	持股比例
                                                                </th>
														</tr>
													</thead>
													 <tbody id="shareholdersTblbe">

                                                    </tbody>
												</table>
											</div>
											<div id="shareholdersPage"></div>
                                            </div>
                                        </div>
										<div class="tab-pane" id="tab_7">
											<div class="msg-wrap">
												<div class="msg-title">网站备案</div>
												<div class="msg-detail">
												</div>
											</div>
											<div class="table-scrollable maskInTable">
												<table class="table table-striped table-bordered table-hover">
													<thead class="view-tr">
														<tr class="tr">
															<th>
																审核时间
															</th>
															<th>
																网站名称
															</th>
															<th>
																网站首页
															</th>
															<th>
																备案号
															</th>
															<th>
																状态
															</th>
															<th>
																单位性质
															</th>
														</tr>
													</thead>
													<tbody id="recordList">
													</tbody>
												</table>
											</div>
											<div id="recordPage"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END PAGE CONTENT-->
					</div>
				</div>

			</div>
			<!-- END QUICK SIDEBAR -->
		</div>
		<!-- END CONTAINER -->
		<!-- BEGIN FOOTER -->
		<div class="page-footer">
			<div class="page-footer-inner">
				&copy;&nbsp;2016&nbsp;北京凯峰数据科技有限公司&nbsp;版权所有&nbsp;|&nbsp;京ICP备16037008号-1
			</div>
			<div class="scroll-to-top">
				<i class="icon-arrow-up"></i>
			</div>
		</div>
		<div class="modal fade myModal01" id="myAbstract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">详情</h4>
		      </div>
		      <div class="modal-body">
		        <div class="province pdt10" id="abstract">
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
		<!-- BEGIN CORE PLUGINS -->
		<!--[if lte IE 8]><script src="js/libs/selectivizr.js"></script><![endif]-->
		<!--[if lt IE 9]>
				<script src="../../assets/global/plugins/respond.min.js"></script>
				<script src="../../assets/global/plugins/excanvas.min.js"></script> 
				<![endif]-->
		<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
		<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
		<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
		<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
		<script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
		<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
		<!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script type="text/javascript" src="../../assets/global/plugins/query.js"></script>
		<script type="text/javascript" src="../../assets/global/plugins/paging.js"></script>
		<script src="../../assets/global/scripts/kfStyle.js" type="text/javascript"></script>
		<script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
		<script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
		<script src="../../assets/global/plugins/jquery.cookie.js" type="text/javascript"></script>
		<script src="../../assets/global/scripts/application.js" type="text/javascript"></script>
		<script src="../../assets/global/scripts/getTable.js" type="text/javascript"></script>
		<script src="../../assets/global/scripts/companyDetail/industryCommerce.js" type="text/javascript"></script>
		<script type="text/javascript" src="../../assets/global/plugins/select2.js"></script>

		<script>
			$(function() {
				IndustryComp.init();
				 KfStyle.init(); // init metronic core componets
            	Layout.init(); // init layout
			});
		</script>
	</body>

</html>