<div class="row mod-con-ipt">
	<div class="col-sm-2 contan-search">
		<input placeholder="关键字" type="text" id="comKeyWord4" class="form-control form-filter input-sm" name="product_id">
	</div>
	<div class="col-sm-2 contan-search">
		<input placeholder="排除关键字" id="comKeyWordOut4" type="text" class="form-control form-filter input-sm" name="product_id">
	</div>
	<div class="col-sm-3 col-md-3 datePar">
		<div class="input-group date date-picker" id="datetimeStart" data-date-viewmode="years" data-date-format="dd/mm/yyyy">
			<input type="text" id="startDate4" class="form-control form-filter input-sm date-ipt" readonly="" name="product_created_from" placeholder="请选择开始日期">
			<span class="input-group-btn">
				<button  class="btn btn-sm btn-icon-btn" type="button"><i class="fa fa-calendar"></i></button>
			</span>
		</div>
	</div>
	<div class="arrive">至</div>
	<div class="col-sm-3 col-md-3 select_box2_father  datePar">
		<div class="input-group date date-picker" id="datetimeEnd" data-date-format="dd/mm/yyyy">
			<input type="text" id="stopDate4" class="form-control form-filter input-sm date-ipt" readonly="" name="product_created_from" placeholder="请选择截止日期">
			<span class="input-group-btn">
				<button class="btn btn-sm  btn-icon-btn" type="button"><i class="fa fa-calendar"></i></button>
			</span>
		</div>
	</div>
	<div class="compBtn compBtnTel">
		<button class="search  btn-ipt" id="noteSer4">查询</button>
		<button class="search  btn-ipt btn-ipts compReset" value="问询函">重置</button>
	</div>
</div>
<div class="row allList mgt10" id="notesLi">
	<div class="hang-title" style="min-width:auto;">
		<span>公告类型</span>
	</div>
	<ul class="list-inline" id="yqType">
		<li class="hang-active" name="b100">全部</li>
		<li name="b06">年报问询函</li>
		<li name="b03">问询函</li>						
	</ul>
</div>
<div class="page-line"></div>

<!--下面表单开始-->
<div class="row tab-content mgt10">
	<div class="col-md-12">
		<div class="portlet-body maskInTable">
			<table class="table table-condensed table-hover table-team table-blue">
				<thead>
					<tr role="row" class="tr newTr">
						<th class="pdl10">
							<b>证券代码</b>
						</th>
						<th class="pdl10">
							<b>证券名称</b>
						</th>
						<th class="pdl10">
							<b>公告简介</b>
						</th>
						<th class="pdl10">
							<b>公告类型</b>
						</th>
						<th class="pdl10">
							<b>公告特征</b>
						</th>
						<th class="pdl10">
							<b>公告日期</b>
						</th>
					</tr>
				</thead>
				<tbody id="Gnote4">
					
				</tbody>
			</table>
			<!--下边分页开始-->
			<div id="pageTool" style="margin-top: 20px;"></div>
			<!--下边分页结束-->
        </div>
	</div>
</div>
<script src="../../assets/global/scripts/neeq/messageDisplay/messageDisplay.js" type="text/javascript"></script>
<script>
	$(function(){
    	//日期时间选择器
		$(".date-picker").datepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            minView: "month",
            maxView: "decade",
            todayBtn: "linked",
            language: 'zh-CN',
            todayHighlight: true,
            endDate:new Date(),
            pickerPosition: "bottom-left"
        });
    })
	messageNote.messageLetter();
</script>