<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- BEGIN HEAD -->
	<head>
		<meta charset="utf-8" />
		<title>投资机构｜三板慧｜金融大数据</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
		<link href="../../assets/admin/layout/css/paging.css" rel="stylesheet" type="text/css">
		<link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
		<style>
			.marketing_tit{ font-size: 16px; color: #205ea7; border-left: 2px solid #205ea7; padding-left: 10px; font-weight: bold; margin-left: 10px; height: 17px; line-height: 1;}
			.marketing_tit span{ color: #666666; font-weight: normal; margin-left: 10px; padding: 2px 0; width: 120px; text-align: center;}
			.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{ border: none;;}
			.tr{ margin: 0; height: 30px; line-height: 20px;}
			.tr div{ float: left; text-align: center;}
			.table-scrollable table td{ padding: 10px 0px;}
			.table-scrollable{ margin-bottom: 10px!important;}
			table thead tr th{ text-align: center;}
			.table-scrollable table .tr th{ background: #e1f8f6;}
			#changeTable tr:nth-child(odd),#ipoPrediction tr:nth-child(odd){background:#fbfbfb;}
			#changeTable tr:nth-child(even),#ipoPrediction tr:nth-child(even){background:#f7f7f7;}
			.Along{ color: #F57D4B;}
			.bot-right{
				min-height: 360px;
				border-left: 5px solid #f1f3fa;
			}
			.bot-left{
				min-height: 360px;
				border-right: 5px solid #f1f3fa;
			}
			.page-content-par{
				padding-bottom: 0;
			}
			.select2-container .select2-choice .select2-arrow{
				background: #93C8F1;
			}
			.select2-container .select2-choice .select2-arrow b{
				background-position: 0 -2px;
			}
			#__echarts_download_wrap__{
					text-align: center;
			}
			#__echarts_download_wrap__ img{
				max-width:80%;
				max-height: 80%;
			}
			@media only screen and (min-width:1921px ) {
				#__echarts_download_wrap__{
					text-align: center;
				}
				#__echarts_download_wrap__ img{
					max-width:80%;
					max-height: 80%;
				}
			}
			@media only screen and (min-width: 320px) and (max-width: 768px) {
				#wordChart{
					margin-top: 30px;
				}
			}
			
		</style>
	</head>

	<body class="page-header-fixed page-quick-sidebar-over-content page-container-bg-solid">
		<!-- BEGIN HEADER -->
		<div class="page-header navbar navbar-fixed-top">
			<!-- BEGIN HEADER INNER -->
			<div class="page-header-inner">
				<!-- BEGIN LOGO -->
				<div class="page-logo">
					<a href="/index.php/companylisted/index">
					</a>
					<div class="menu-toggler sidebar-toggler hide">
					</div>
				</div>
				<!-- END LOGO -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
				</a>

				<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					<li class="dropdown dropdown-extended dropdown-notification mgr20" id="header_notification_bar">
						<a href="javascript:void(0)" class="dropdown-toggle" style="height:55px">
							<i class="fa fa-dollar"></i>
							<span class="badge badge-default" style="right: -18px">购买</span>
						</a>
					</li>
					<li class="dropdown dropdown-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
							<img alt="" class="img-circle" src="" />
							<span class="username username-hide-on-mobile"></span>
							<i class="fa fa-angle-down"></i>
						</a>
						 <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="/account/info">
                                        <i class="icon-user"></i>我的三板慧</a>
                                </li>
                                <li class="pay">
                                    <a href="JavaScript:void(0)" id="dk">
                                        <i class="fa fa-check-square-o"></i><span>每日打卡</span></a>
                                </li>
                                <li>
                                    <a href="/account/modifyPassword">
                                        <i class="fa fa-pencil-square-o"></i>修改密码 </a>
                                </li>
                                <li>
                                    <a href="/account/version">
                                        <i class="fa fa-file-o"></i>版本介绍 
                                    </a>
                                </li>
                                <li>
                                    <a href="/account/feedback">
                                        <i class="icon-envelope-open"></i>意见反馈
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/logout">
                                        <i class="fa fa-sign-out"></i>退出 </a>
                                </li>
                            </ul>
					</li>
				</ul>
			</div>
				<!-- END TOP NAVIGATION MENU -->
				 <!--PC端搜索框-->
                <div class="pc-search hidden-xs hidden-sm">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <input type="text" name="" id="searchBlur" value="" placeholder="搜索公司，基金，资料" />
                    <div class="searchList">
                        <ul></ul>
                    </div>
                </div>
			</div>
			<!-- END HEADER INNER -->
		</div>
		<!-- END HEADER -->
		<div class="clearfix">
		</div>
		<!-- BEGIN CONTAINER -->
		<div class="page-container">
			<!-- BEGIN SIDEBAR -->
			<div class="page-sidebar-wrapper">
				<div class="page-sidebar navbar-collapse collapse">
					<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
						<li class="sidebar-toggler-wrapper">
							<div class="sidebar-toggler">
							</div>
						</li>
						<li class="sidebar-search-wrapper">
							<form class="sidebar-search " action="extra_search.html" method="POST">
								<a href="javascript:;" class="remove">
									<i class="icon-close"></i>
								</a>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="搜索">
									<span class="input-group-btn">
							<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
							</span>
								</div>
							</form>
							<!-- END RESPONSIVE QUICK SEARCH FORM -->
						</li>
						<li class="start active open">
							<a href="javascript:;">
								<i class="icon-home"></i>
								<span class="title">新三板</span>
								<span class="selected"></span>
								<span class="arrow open"></span>
							</a>
							<ul class="sub-menu">
								<li class="active">
									<a href="挂牌公司列表页.html">挂牌公司</a>
								</li>
								<li>
									<a href="公告.html">公告</a>
								</li>
								<li>
									<a href="定增.html">定增</a>
								</li>
								<li>
									<a href="交易.html">交易</a>
								</li>
								<li>
									<a href="#">主办券商</a>
								</li>
								<li>
									<a href="#">政策法规</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:;">
								<!--<i class="icon-basket"></i>-->
								<span class="title">投资</span>
								<span class="arrow "></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="投资事件.html">投资事件</a>
								</li>
								<li>
									<a href="投资机构列表页.html">投资机构</a>
								</li>
								<li>
									<a href="#">私募基金管理人</a>
								</li>

							</ul>
						</li>
						<li>
							<a href="#">
								<!--<i class="icon-rocket"></i>-->
								<span class="title">新闻</span>
								<span class="arrow "></span>
							</a>

						</li>
						<li>
							<a href="javascript:;">
								<!--<i class="icon-diamond"></i>-->
								<span class="title">研报</span>
								<span class="arrow "></span>
							</a>

						</li>
						<li>
							<a href="#">
								<!--<i class="icon-puzzle"></i>-->
								<span class="title">关系查找</span>
								<span class="arrow "></span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<!--<i class="icon-basket"></i>-->
								<span class="title">登录和注册</span>
								<span class="arrow "></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="登录.html">
										<!--<i class="icon-home"></i>-->
										登录</a>
								</li>
								<li>
									<a href="用户注册1.html">
										<!--<i class="icon-basket"></i>-->用户注册1</a>
								</li>
								<li>
									<a href="用户注册2.html">
										<!--<i class="icon-tag"></i>-->用户注册2</a>
								</li>
								<li>
									<a href="注册成功3.html">
										<!--<i class="icon-tag"></i>-->注册成功3</a>
								</li>
							</ul>
						</li>
					</ul>
					<!-- END SIDEBAR MENU -->
				</div>
			</div>
			<!-- END SIDEBAR -->
			<!-- BEGIN CONTENT -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<!-- BEGIN PAGE HEADER-->
					<div class="page-bar">
						<ul class="page-breadcrumb">
							<li>
								<i class="fa fa-home"></i>
								场外市场
								<i class="fa fa-angle-right"></i>
							</li>
							<li>
								场外市场概览
							</li>
							<li class='nowTimeTop'>
								北京时间：<span id="nowDate"></span>
							</li>
						</ul>
					</div>
					<div class="page-content-par">
						<div class="row mod-title">
							<div class="col-md-12">场外市场概览</div>
						</div>
						<div class="page-height"></div>
						<div class="" style="position: relative;padding-top: 16px;z-index: 1;">
							<div class="marketing_tit">年度热词</div>
							<select id="selectOne" class="selectOne pull-right" style="position: absolute; left: 10px; z-index: 10; top: 50px;">
								<option value="2017">2017</option>
							 	<option value="2016">2016</option>
							  	<option value="2015">2015</option>
							  	<option value="2014">2014</option>
							  	<option value="2013">2013</option>
							</select>
							<div class="wordChart" id="wordChart" style="height:250px;"></div>
						</div>
						<div class="page-line"></div>
						<div class="row" style="padding-top: 27px;padding-bottom: 15px;">
							<div class="col-md-6 col-xs-12 col-sm-12" style="border-right: 1px solid #f5f5f5;">
								<div class="" style="position: relative;padding-top: 0px;z-index: 1;margin-top: -12px;">
									<div class="marketing_tit" style="color: #dfba49;border-left:2px solid #dfba49;margin-bottom:15px;">年度热词演变</div>
									<div class="changeChart" id="changeChart" style="height:360px;"></div>
								</div>
							</div>
							<div class="col-md-6 col-xs-12 col-sm-12" style="padding:0 21px;">
								<div class="changeChart" id="" style="min-height:250px;">
									<div class="marketing_tit" style="color: #2ca3a4;border-left:2px solid #2ca3a4;">代表企业</div>
									<select id="selectTech" class="selectTech pull-right" style="position: absolute; left: 30px; z-index: 10; top: 35px;">
									 	
									</select>
									<div class="table-scrollable mgt" style="border:none;margin-bottom: 0 !important;">
		                                <div style="padding-top: 72px;">
			                                <table class="table table-striped mgb">
			                                	<colgroup>
			                                    	<col width="30%" />
													<col width="30%" />
													<col width="40%" />
			                                    </colgroup>
			                                    <thead class="tr">
			                                    	<tr>
			                                    		<th style="color: #4AB6AD;">企业名称</th>
														<th style="color: #F37D52;">融资额</th>
														<th style="color: #DEB953;">标签</th>
			                                    	</tr>
			                                    </thead>
			                                </table>
		                                </div>
										<div class="moneyTable" style="overflow: hidden;min-height: 250px; ">
											<table class="table" id="sample_1" role="grid" aria-describedby="sample_1_info">
			                                    <colgroup>
			                                    	<col width="30%" />
													<col width="30%" />
													<col width="40%" />
			                                    </colgroup>
			                                    <tbody id="changeTable" class="moneyTable1">
			                                    </tbody>
			                                </table>
		                                </div>
									</div>
								</div>
							</div>
						</div>
						<div class="page-line"></div>
						<div class="" style="position: relative;padding-top: 16px;z-index: 1;">
							<div class="marketing_tit" style="color: #f57d48;border-left:2px solid #f57d48; margin-bottom: 35px;">投资事件行业轮次分布</div>
							<select id="selectTwo" class="selectTwo pull-right" style="position: absolute; left: 10px; z-index: 10; top:50px;">
							 	<option value="2017">2017</option>
							 	<option value="2016">2016</option>
							  	<option value="2015">2015</option>
							  	<option value="2014">2014</option>
							  	<option value="2013">2013</option>
							  	<option value="2012">2012</option>
							</select>
							<div class="barChart" id="barChart" style="height:410px;margin-top: 48px;"></div>
						</div>
						<div class="page-line"></div>
						<div class="row">
							<div class="col-md-6 col-xs-12 col-sm-12 bot-left">
								<div class="" style="position: relative;padding-top: 16px;z-index: 1;">
									<div class="marketing_tit" style="margin-bottom: 15px;color: #8678a5;border-left:2px solid #8678a5; ">投资事件行业趋势</div>
									<select id="selectThree" class="selectThree pull-right" style="position: absolute; left: 10px; z-index: 10; top: 50px;">
									 	<option value='all'>全行业</option>
									</select>
									<div class="bottomChart01" id="bottomChart01" style="height:300px;margin-top: 30px;"></div>
								</div>
							</div>
							<div class="col-md-6 col-xs-12 col-sm-12  bot-right">
								<div class="" style="position: relative;padding-top: 16px;z-index: 1;">
									<div class="marketing_tit"  style="margin-bottom: 15px;color: #0c5999;border-left:2px solid #0c5999;">投资事件轮次趋势</div>
									<div class="bottomChart01" id="bottomChart02" style="height:300px;margin-top: 30px;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-footer">
					<div class="page-footer-inner">
						&copy;&nbsp;2016&nbsp;北京凯峰数据科技有限公司&nbsp;版权所有&nbsp;|&nbsp;京ICP备16037008号-1
					</div>
					<div class="scroll-to-top">
						<i class="icon-arrow-up"></i>
					</div>
				</div>
				<!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
				<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
				<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
				<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
				<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
				<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
				<!-- BEGIN PAGE LEVEL SCRIPTS -->
				<script type="text/javascript" src="../../assets/global/plugins/query.js"></script>
				<script type="text/javascript" src="../../assets/global/plugins/paging.js"></script>
				<script src="../../assets/global/scripts/kfStyle.js" type="text/javascript"></script>
				<script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/jquery.cookie.js" type="text/javascript"></script>
				<script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
				<script src="../../assets/global/scripts/application.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/echarts/build/dist/echarts.js"></script>
				<script src="../../assets/global/plugins/select2/select2.js" type="text/javascript"></script>
				<script src="../../assets/global/scripts/investment/investOverview.js" type="text/javascript"></script>	
				<!-- END PAGE LEVEL SCRIPTS -->
				<script>
					jQuery(document).ready(function() {
						KfStyle.init(); 
						Layout.init(); 
						$('#selectOne option:eq(0),#selectTwo option:eq(0)').prop('selected', true);
						$("#selectOne,#selectTwo,#selectThree,#selectTech").select2({
							minimumResultsForSearch: -1,
							width:'120px'
						});
						//请求行业信息
						$.kf.ajax({
			                type: "get",
			                url: $.kf.INVESTEVENTSTAGE,
			                data: "",
			                dataType: "json",
			                processResponse: function (data) {
			                	if(!isNullOrEmpty(data)){
			                		var tr = "<option value='all'>全行业</option>";
				                    var data = data.data;
				                    $("#selectThree").html("");
				                    $(data).each(function (i) {
					                    tr += "<option value=" + data[i].code + ">" + data[i].name + "</option>";
						            });
						            $("#selectThree").html(tr);
			                	}
			                    
			                }
			            });
						
					});
				</script>
	</body>
	<!-- END BODY -->

</html>
<!DOCTYPE html>