<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="name" content="北京凯峰数据科技有限公司">
		<meta name="Author" content="北京凯峰数据科技有限公司，sales@kaifengdata.com">
		<meta name="Copyright" content="本页版权归北京凯峰数据科技有限公司所有。All Rights Reserved">
		<meta name="Keywords" content="三板慧,SaaS,凯峰数据,金融大数据,SaaS金融终端,新三板挂牌,新三板创新层,新三板行情,股权结构,定增交易,投资机构,券商,私募基金,关系检索,投资事件分析,投资人偏好,观察机IPO预测,路演助手">
		<meta name="Description" content="三板慧、SaaS投研、凯峰数据、金融大数据、金融分析工具、SaaS金融终端、新三板挂牌、新三板市场、新三板创新层、新三板行情、新三板IPO、股权结构、定增交易、IPO预测、券商、智能金融终端、因果树、路演助手、融资路演、督导助手、路演活动、路演ppt、慧分析、新三板督导、新三板路演、新三板上市、新三板交易、新三板股票、金融终端、金融数据、数据终端、新三板IPO、第一路演、新三板+、新三板IPO、项目路演、新三板资讯、新三板股票、新三板公司、新三板新闻、新三板企业、新三板文库、新三板基金、拟挂牌库、新三板定增、股转三板慧、新三板数据">
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/admin/layout/css/newsInfo.css" />
		<link href="https://www.kaifengdata.com/favicon.ico" rel="shortcut icon">
		<script type="text/javascript" src="../../assets/global/plugins/jquery.min.js"></script>
	</head>

	<body>
		<div class="header-out">
			<div class="header container">
				<a href="javascript:;" class="kf-logo"></a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="ns-header"></div>
		<div class="ns-banner container ns-title">
			<img src="" alt="" />
			<div class="ns-modal"></div>
			<span></span>
		</div>
		<div class="ns-content container">
			<div class="nsc-t">
				<div class="nsc-l">
					<span class="nsc-data"></span>
					
					<span class="nsc-author"></span>
					<span class="nsc-source"></span>
					<span class="nsc-copy" style="display: none;"></span> 
				</div>
				<!-- <div class="nsc-r">
                        <div class="bdsharebuttonbox" data-tag="share_1">
                                <a class="bds_weixin" data-cmd="weixin" href="#"></a>
                                <a class="bds_tsina" data-cmd="tsina" href="#"></a>
                                <a class="bds_tqq" data-cmd="tqq" href="#"></a>
                                <a class="bds_qzone" data-cmd="qzone" href="#"></a>
                                <a class="bds_douban" data-cmd="douban" href="#"></a>
                                <a class="bds_linkedin" data-cmd="linkedin" href="#"></a>
                                <a class="bds_count" data-cmd="count" href="#"></a>
                        </div>

                </div> -->
			</div>
			<div class="nsc-text">
				
			</div>
		</div>
		<div id="toTop"></div>

	</body>
	<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
	<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
	<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
	<script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
	<script type="text/javascript" src="../../assets/global/plugins/query.js"></script>
	<script src="../../assets/global/plugins/jquery.cookie.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../assets/global/plugins/paging.js"></script>
	<script type="text/javascript" src="../../assets/global/plugins/query.js"></script>
	<script src="../../assets/global/scripts/application.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../assets/global/scripts/details/newsInfo.js"></script>
</html>