<div class="row mod-con-ipt">
	<div class="col-sm-2 contan-search">
		<input placeholder="简称/代码" id="comKeyWord" type="text" class="form-control form-filter input-sm" name="product_id">
	</div>
	<div class="compBtn">
		<button class="search  btn-ipt" id="compBtn">查询</button>
		<button class="search  btn-ipt btn-ipts" id="compReset">重置</button>
	</div>
</div>
<div class="row allList" id="compLx">
	<div class="hang-title">
		<span>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</span>
	</div>
	<ul class="list-inline">
		<li class="hang-active">全部</li>
		<li name="1">集合竞价转让</li>
		<li name="2">做市转让</li>
		<li name="3">创新层</li>
		<li name="4">基础层</li>
	</ul>
</div>

<div class="row allList" id="compQs">
	<div class="hang-title">
		<span>主办券商</span>
	</div>
	<ul class="list-inline" id="comSpecial">
		<li class="hang-active" name="">全部</li>
		<li name="101001830899000000000000">联讯证券</li>
		<li name="3a3d97138af9e9324d1602c09a8a3a">山西证券</li>
		<li name="04c6024f2e8fbb0775ea36f103aefe">财达证券</li>
		<li name="2990ec52e07e89122e9c151291e377">东北证券</li>
		<li name="95b212c0fc5a35f7b7956f4717f8f3">华融证券</li>
		<li id="trPop" class="hang-more" data-toggle="modal" data-target="#myModalQuotes">更多&gt;&gt;</li>
	</ul>
</div>
<div class="row allList" id="compTz">
	<div class="hang-title">
		<span>交易特征</span>
	</div>
	<ul class="list-inline" id="compIndustry">
		<li class="hang-active">全部</li>
		<li name="b1">价格异动</li>
		<li name="b2">成交金额异动</li>
		<li name="b3">持续强势</li>
		<li name="b4">连续弱势</li>
		<li name="b5">今日有成交</li>
	</ul>
</div>
<div class="row allList" id="compBq">
	<div class="hang-title">
		<span>公司标签</span>
	</div>
	<ul class="list-inline" id="compLb">
		<li class="hang-active">全部</li>
		<li name='68ef60fe-40ec-11e7-a764-00163e03bdf1'>新能源</li>
		<li name='68e58d54-40ec-11e7-a764-00163e03bdf1'>电池</li>
		<li name='68ee9156-40ec-11e7-a764-00163e03bdf1'>文创</li>
		<li name='68ebdcb8-40ec-11e7-a764-00163e03bdf1'>人工智能</li>
		<li name='68e49d4a-40ec-11e7-a764-00163e03bdf1'>SaaS</li>
		<li name='68f4c79c-40ec-11e7-a764-00163e03bdf1'>智能制造</li>
		<li name='68e7abb6-40ec-11e7-a764-00163e03bdf1'>共享经济</li>
		<li name='9bb646d4-4c12-11e7-b098-00163e03bdf1'>区块链</li>
		<li name='50dc8566-4c16-11e7-9eef-00163e03bdf1'>生物医药</li>
		<li class="hang-more" data-toggle="modal" data-target="#myModalBq">更多>></li>
	</ul>
</div>
<div class="row allListSo" id="allListSo">
	<div class="hang-title">
		<span>已选条件</span>
	</div>
	<ul class="list-inline soList " id="soCheck">
		<li class="soClear">
			<button class="search  btn-ipt" id="soClear">清空选项</button>
		</li>
	</ul>
</div>
<div class="page-line"></div>
<!--下面表单开始-->
<div class="portlet box darkCyan">
	<div class="portlet-body maskInTable" id="maskdata">
		<div class="table-scrollable">
			<table class="table table-striped table-bordered table-hover dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
				<thead>
					<tr role="row" class="tr">
						<th name="time">
							<span class="">更新</span>
							<span class="sort">
								 <a href="javascript:void(0)" name="ASC" class="sort-up"></a>
                                <a href="javascript:void(0)" name="DESC" class="sort-down  "></a>
							</span>
						</th>
						<th name="stock_code">
							<span class="">代码</span>
							<span class="sort">
								 <a href="javascript:void(0)" name="ASC" class="sort-up"></a>
                                <a href="javascript:void(0)" name="DESC" class="sort-down "></a>
							</span>
						</th>
						<th name="turnover">
							简称
						</th>
						<th name="current_price">
							<span class="">最新价</span>
							<span class="sort">
								 <a href="javascript:void(0)" name="ASC" class="sort-up"></a>
                                <a href="javascript:void(0)" name="DESC" class="sort-down "></a>
							</span>
						</th>
						<th name="up_down_close">
							<span class="">涨跌</span>
							<span class="sort">
								 <a href="javascript:void(0)" name="ASC" class="sort-up"></a>
                                <a href="javascript:void(0)" name="DESC" class="sort-down "></a>
							</span>
						</th>
						<th name="up_down_rate_close">
							<span class="">涨跌幅</span>
							<span class="sort">
								 <a href="javascript:void(0)" name="ASC" class="sort-up"></a>
                                <a href="javascript:void(0)" name="DESC" class="sort-down "></a>
							</span>
						</th>
						<th name="max_price">
							<span class="">最高价</span>
							<span class="sort">
								 <a href="javascript:void(0)" name="ASC" class="sort-up"></a>
                                <a href="javascript:void(0)" name="DESC" class="sort-down "></a>
							</span>
						</th>
						<th name="min_price">
							<span class="">最低价</span>
							<span class="sort">
								 <a href="javascript:void(0)" name="ASC" class="sort-up"></a>
                                <a href="javascript:void(0)" name="DESC" class="sort-down "></a>
							</span>
						</th>
						<th name="previous_price">
							<span class="">昨收价</span>
							<span class="sort">
								 <a href="javascript:void(0)" name="ASC" class="sort-up"></a>
                                <a href="javascript:void(0)" name="DESC" class="sort-down "></a>
							</span>
						</th>
						<th name="deal_sum">
							<span class="">成交额（万元）</span>
							<span class="sort">
								 <a href="javascript:void(0)" name="ASC" class="sort-up"></a>
                                <a href="javascript:void(0)" name="DESC" class="sort-down bgredB"></a>
							</span>
						</th>
						<th name="deal_volumn">
							<span class="">成交量（万股）</span>
							<span class="sort">
								 <a href="javascript:void(0)" name="ASC" class="sort-up"></a>
                                <a href="javascript:void(0)" name="DESC" class="sort-down "></a>
							</span>
						</th>
						<th name="trans_rate">
							<span class="">换手率</span>
							<span class="sort">
								 <a href="javascript:void(0)" name="ASC" class="sort-up"></a>
                                <a href="javascript:void(0)" name="DESC" class="sort-down "></a>
							</span>
						</th>
						<th name="">
							操作
						</th>
					</tr>
				</thead>
				<tbody id="tableEnd">

				</tbody>
			</table>
		</div>
		<!--表单结束-->
		<div id="pageTool"></div>
	</div>
	<!-- END QUICK SIDEBAR -->
</div>

<script type="text/javascript">
	$.getScript("../../assets/global/scripts/neeq/realQuotes/realQuotesTable.js").done(function() {
		RealQuoTable.init();
	});
</script>