<div class="row mod-con-ipt">
	<div class="col-sm-2 contan-search">
		<input placeholder="公司名称" type="text" class="form-control input-sm investSname">
	</div>
	<div class="col-sm-4 compBtn">
		<button class="search btn-ipt" id="investSer">查询</button>
		<button class="search btn-ipt btn-ipts" id="investSerReset">重置</button>
	</div>
</div>
<div class="row allList" id="compQs">
	<div class="hang-title" style="width:auto;min-width:auto;">
		<span>投资领域</span>
	</div>
	<ul class="list-inline" id="comSpecial">
		<li class="hang-active" name="">全部</li>
		<li name="6b3636b4e3" data-name="h" title="互联网">互联网</li>
		<li name="2e86e4c71c" data-name="d" title="电信及增值业务">电信及增值业务</li>
		<li name="e95c43ceca" data-name="i" title="IT">IT</li>
		<li name="0a38ddff45" data-name="l" title="连锁及零售">连锁及零售</li>
		<li name="b68cc0c58f" data-name="n" title="能源及矿产">能源及矿产</li>
		<li id="trPop" class="hang-more" data-toggle="modal" data-target="#myModal02">更多&gt;&gt;</li>
	</ul>
</div>
<div class="row allList" id="compHy">
	<div class="hang-title">
		<span>投资轮次</span>
	</div>
	<ul class="list-inline" id="compIndustry">
		<li name="" class="hang-active">全部</li>
		<li name="001">种子轮/天使轮</li>
		<li name="002">pre-A轮</li>
		<li name="003">A轮</li>
		<li name="004">B轮</li>
		<li name="005">C轮</li>
		<li name="006">D轮及以上</li>
		<li name="007">新三板定增</li>
		<li name="009">PIPE</li>
		<li name="008">其他</li>
	</ul>
</div>
<div class="row allList" id="compSf">
	<div class="hang-title">
		<span>投资地区</span>
	</div>
	<ul class="list-inline">
		<li name="" class="hang-active">全部</li>
		<li name="province001">北京</li>
		<li name="province002">天津</li>
		<li name="province003">上海</li>
		<li name="province004">重庆</li>
		<li name="province005">河北</li>
		<li name="province006">山西</li>
		<li name="province007">陕西</li>
		<li name="province008">山东</li>
		<li name="province009">河南</li>
		<li class="hang-more" data-toggle="modal" data-target="#myModal">更多>></li>
	</ul>
</div>
<div class="row allList allListInvest">
	<div class="hang-title">
		<span>投资时间</span>
	</div>
	<div class="investDurdate">
        <div class="col-sm-3 col-md-3 datePar">
            <div class="input-group date date-picker" id="datetimeStart" data-date-viewmode="years" data-date-format="dd/mm/yyyy">
                <input type="text" id="tradingStart" class="form-control form-filter input-sm date-ipt" readonly="" name="product_created_from" placeholder="请选择开始时间">
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-icon-btn" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="arrive">至</div>
        <div class="col-sm-3 col-md-3 select_box2_father  datePar">
            <div class="input-group date date-picker" id="datetimeEnd" data-date-format="dd/mm/yyyy">
                <input type="text" id="tradingStop" class="form-control form-filter input-sm date-ipt" readonly="" name="product_created_from" placeholder="请选择结束时间">
                <span class="input-group-btn">
                    <button class="btn btn-sm  btn-icon-btn" type="button"><i class="fa fa-calendar"></i></button>
                </span>
            </div>

        </div>
        <ul class="keywordListT investDateList">
        	<li><a href="javascript:void(0)">2017</a></li>
        	<li><a href="javascript:void(0)">2016</a></li>
        	<li><a href="javascript:void(0)">2015</a></li>
        	<li><a href="javascript:void(0)">2014</a></li>
        	<li><a href="javascript:void(0)">2013</a></li>
        	<li><a href="javascript:void(0)">2012</a></li>
        	<li><a href="javascript:void(0)">2011</a></li>
        	<li><a href="javascript:void(0)">2010</a></li>
        </ul>
        <div class="compBtn">
            <button class="search  btn-ipt" id="tradingSer">查询</button>
            <button class="search  btn-ipt btn-ipts" id="compReset">清空</button>
        </div>
	</div>
</div>
<div class="row allListSo" id="allListSo">
	<div class="hang-title">
		<span>已选条件</span>
	</div>
	<ul class="list-inline soList " id="soCheck">
		<li class="soClear">
			<button class="search  btn-ipt" id="soClear">清空条件</button>
		</li>
	</ul>
</div>
<div class="page-line">

</div>
<!--下面表单开始-->
<div class="portlet">
	<div class="portlet-body maskInTable investList maskInTable-pad">
		<div class="table-scrollable">
			<table class="table table-striped table-bordered table-hover dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
				<colgroup>
					<col width="15%" />
					<col width="8%" />
					<col width="23%" />
					<col width="7%" />
					<col width="7%" />
					<col width="10%" />
					<col width="10%" />
					<col width="5%" />
				</colgroup>
				<thead>
					<tr role="row" class="tr">
						<th>
							公司名称
						</th>
						<th>
							投资领域
						</th>
						<th>
							投资机构
						</th>
						<th>
							投资轮次
						</th>
						<th>
							投资币种
						</th>
						<th>
							投资金额（万元）
						</th>
						<th>
							投资日期
						</th>
						<th>
							描述
						</th>
					</tr>
				</thead>
				<tbody id="investList">

				</tbody>
			</table>
		</div>
		<!--下边分页开始-->
		<div id="pageTool"></div>
		<!--下边分页结束-->
	</div>
</div>
<script type="text/javascript">
	//日期时间选择器
	$.getScript("../../assets/global/scripts/investment/investmentCase.js").done(function(){InvestEvent.init();});
	$(".date-picker").datepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        minView: "month",
        maxView: "decade",
        todayBtn: "linked",
        language: 'zh-CN',
        todayHighlight: true,
        pickerPosition: "bottom-left",
        endDate:new Date()
    });
	
</script>