<div class="row mod-con-ipt">
						<div class="col-sm-2 contan-search" style="display: none;">
							<input placeholder="名称/代码" id="comSearch" type="text" class="form-control form-filter input-sm" name="product_id">
						</div>
						<div class="col-sm-2 contan-search">
							<input placeholder="简称/代码" id="comKeyWord" type="text" class="form-control form-filter input-sm" name="product_id">
						</div>
						<div class="col-sm-3 col-md-3 datePar">
							<div class="input-group date date-picker" id="datetimeStart"  data-date-viewmode="years" data-date-format="dd/mm/yyyy">
								<input type="text" id="compStartTime" class="form-control form-filter input-sm date-ipt" readonly="" name="product_created_from" placeholder="请选择开始日期">
								<span class="input-group-btn">
							<button  class="btn btn-sm btn-icon-btn" type="button"><i class="fa fa-calendar"></i></button>
							</span>
							</div>
						</div>
						<div class="arrive">至</div>
						<div class="col-sm-3 col-md-3 select_box2_father datePar">
							<div class="input-group date date-picker" id="datetimeEnd" data-date-format="dd/mm/yyyy">
								<input type="text" id="compEndTime" class="form-control form-filter input-sm date-ipt" readonly="" name="product_created_from" placeholder="请选择截止日期">
								<span class="input-group-btn">
							<button class="btn btn-sm  btn-icon-btn" type="button"><i class="fa fa-calendar"></i></button>
							</span>
							</div>
						</div>
						<div class="compBtn">
							<button class="search  btn-ipt" id="compBtn">查询</button>
							<button class="search  btn-ipt btn-ipts" id="compReset">重置</button>
						</div>
					</div>
					<div class="row allList" id="compQs">
						<div class="hang-title">
							<span>特&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性</span>
						</div>
						<ul class="list-inline" id="comSpecial">
                            <li class="hang-active" >全部</li>
                            <li name="province001">高新技术企业</li>
                            <li name="province006">高管变动</li>
                            <li name="province007">最新业绩下滑</li>
                            <li name="province008">即报即批</li>
                            <li name="province002">有期权激励</li>
                            <li name="province003">更换主办券商</li>
                            <li name="province004">更换会计师事务所</li>
                            <li name="province005">有配套融资</li>
                            <!--<li class="hang-more" data-toggle="modal" data-target="#myModal02">更多</li>-->
                        </ul>
					</div>
					<div class="row allList" id="compHy">
						<div class="hang-title">
							<span>所属行业</span>
						</div>
						<ul class="list-inline" id="compIndustry">
							<li class="hang-active" >全部</li>
							<li name="5a2fcfe678">互联网和相关服务</li>
							<li name="f3afed3025">软件和信息技术服务业</li>
							<li name="4af3e0c021">专用设备制造业</li>
							<li name="e617da4639">零售业</li>
							<li name="7ee1034249">商务服务业</li>
							<li id="trPop2" class="hang-more" data-toggle="modal" data-target="#myModal03">更多&gt;&gt;</li>
							<!--<li class="hang-more" data-toggle="modal" data-target="#myModal03">更多</li>-->
						</ul>
					</div>
					<div class="row allList" id="compSf">
						<div class="hang-title">
							<span>省&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;份</span>
						</div>
						<ul class="list-inline">
							<li class="hang-active" >全部</li>
							<li name="province001">北京</li>
		        			<li name="province002">天津</li>
		        			<li name="province003">上海</li>
		        			<li name="province004">重庆</li>
		        			<li name="province005">河北</li>
		        			<li name="province006">山西</li>
		        			<li name="province007">陕西</li>
		        			<li name="province008">山东</li>
		        			<li name="province009">河南</li>
							<li class="hang-more" data-toggle="modal" data-target="#myModal">更多>></li>
						</ul>
					</div>
					<div class="row allList" id="compBq">
						<div class="hang-title">
							<span>公司标签</span>
						</div>
						<ul class="list-inline" id="compLb">
							<li class="hang-active">全部</li>
							<li name='68ef60fe-40ec-11e7-a764-00163e03bdf1'>新能源</li>
							<li name='68e58d54-40ec-11e7-a764-00163e03bdf1'>电池</li>
							<li name='68ee9156-40ec-11e7-a764-00163e03bdf1'>文创</li>
							<li name='68ebdcb8-40ec-11e7-a764-00163e03bdf1'>人工智能</li>
							<li name='68e49d4a-40ec-11e7-a764-00163e03bdf1'>SaaS</li>
							<li name='68f4c79c-40ec-11e7-a764-00163e03bdf1'>智能制造</li>
							<li name='68e7abb6-40ec-11e7-a764-00163e03bdf1'>共享经济</li>
							<li name='9bb646d4-4c12-11e7-b098-00163e03bdf1'>区块链</li>
							<li name='50dc8566-4c16-11e7-9eef-00163e03bdf1'>生物医药</li>
							<li class="hang-more" data-toggle="modal" data-target="#myModalBq">更多>></li>
						</ul>
						<a class="btn btn-sm default darkgrey" style="margin-right: 20px;margin-top: 0px;" id="outExcel" style="" href="javascript:void(0)">导出Excel</a>
					</div>
					<div class="row allListSo" id="allListSo">
						<div class="hang-title">
							<span>已选条件</span>
						</div>
						<ul class="list-inline soList " id="soCheck">
							<li class="soClear">
								<button class="search  btn-ipt" id="soClear">清空选项</button>
							</li>
						</ul>
					</div>
					<div class="page-line"></div>
					<!--下面表单开始-->
					<div class="portlet box darkCyan">
						<div class="portlet-body maskInTable" id="maskdata">
							<div class="table-scrollable table-privateList table-scroll-auto">
								<table class="table table-striped table-bordered table-hover dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
									<colgroup>
										<col width="8%" />
										<col width="8%" />
										<col width="8%" />
										<col width="10%" />
										<col width="10%" />
										<col width="10%" />
										<col width="7%" />
										<col width="7%" />
										<col width="7%" />
										<col width="8%" />
										<col width="7%" />
										<col width="10%" />
									</colgroup>
									<thead>
										<tr role="row" class="tr">
											<th scope="col">
												代码
											</th>
											<th scope="col">
												简称
											</th>
											<th name="pe_rate" class="pdr20">
												<span class="">市盈率</span>
												<span class="sort">
													 <a href="javascript:void(0)" name="ASC" class="sort-up"></a>
					                                 <a href="javascript:void(0)" name="DESC" class="sort-down"></a>
												</span>
											</th>
											<th name="total_value">
												<span class="">市值</span>
												<span class="sort">
													 <a href="javascript:void(0)" name="ASC" class="sort-up"></a>
					                                 <a href="javascript:void(0)" name="DESC" class="sort-down"></a>
												</span>
											</th>
											<th >
												财务日期
											</th>
											<th name="net_profit">
												<span class="">净利润</span>
												<span class="sort">
													 <a href="javascript:void(0)" name="ASC" class="sort-up"></a>
					                                 <a href="javascript:void(0)" name="DESC" class="sort-down"></a>
												</span>
											</th>
											<th scope="col">
												<div class="dropdown dropdown-select2" id="comSelect2">
													<a class="dropdown-toggle menu1" id="noteType" role="button" data-toggle="dropdown" href="javascript:void(0)">转让方式<b class="caret"></b></a>
													<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
														<li role="presentation">
															<a role="menuitem" href="javascript:void(0)" name="2">做市</a>
														</li>
														<li role="presentation">
															<a role="menuitem" href="javascript:void(0)" name="1">集合竞价</a>
														</li>
														<li role="presentation">
															<a role="menuitem" tabindex="转让方式" href="javascript:void(0)" name=" ">全部</a>
														</li>
													</ul>
												</div>
											</th>
											<th scope="col">
												<div class="dropdown dropdown-select3" id="comSelect1">
													<a class="dropdown-toggle menu2" id="noteType" role="button" data-toggle="dropdown" href="javascript:void(0)">市场层级<b class="caret"></b></a>
													<ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop4">
														<li role="presentation">
															<a role="menuitem" name="3" href="javascript:void(0)">创新层</a>
														</li>
														<li role="presentation">
															<a role="menuitem" name="4" href="javascript:void(0)">基础层</a>
														</li>
														<li role="presentation">
															<a role="menuitem" tabindex="市场层级" name=" " href="javascript:void(0)">全部</a>
														</li>
													</ul>
												</div>
											</th>
											<th scope="col">
												地区
											</th>
											<th scope="col">
												所属行业
											</th>
											<th scope="col">
												主办券商
											</th>
											<th>挂牌日期</th>
										</tr>
									</thead>
									<tbody id="tableOne">
										
									</tbody>
								</table>
						</div>
					<!--表单结束-->
					<div id="pageToolMon"></div>
					</div>
					<!-- END QUICK SIDEBAR -->
					</div>
					<script>
						jQuery(document).ready(function() {
							$.getScript("../../assets/global/scripts/ipo/privilege.js").done(function(){
								//挂牌公司执行list按钮；
								Vip.init();
							});
							//日期时间选择器
							$(".date-picker").datepicker({
			                    format: "yyyy-mm-dd",
			                    autoclose: true,
			                    minView: "month",
			                    maxView: "decade",
			                    todayBtn: "linked",
			                    language: 'zh-CN',
			                    todayHighlight: true,
			                    endDate:new Date(),
			                    pickerPosition: "bottom-left"
			                });
							//挂牌公司执行list按钮；
							
						});
					</script>