<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- BEGIN HEAD -->

	<head>
		<head><meta content="text/html; charset=utf-8" http-equiv="Content-Type"/></head>
		<title>公司列表｜三板慧｜金融大数据</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
		<link rel="stylesheet" type="text/css" href="../../assets/admin/layout/css/paging.css">
		<link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
		<!-- END THEME STYLES -->
	</head>

	<body class="page-header-fixed page-quick-sidebar-over-content page-container-bg-solid">
		<div class="modal fade myModal01" id="myModalBq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">公司标签</h4>
		      </div>
		      <div class="modal-body">
		        <div class="province">
		        	<div class="province-ul">
		        		<ul>
		        			<li>A</li>
		        			<li>B</li>
		        			<li>C</li>
		        			<li>D</li>
		        			<li>E</li>
		        			<li>F</li>
		        			<li>G</li>
		        			<li>H</li>
		        			<li>I</li>
		        			<li>J</li>
		        			<li>K</li>
		        			<li>L</li>
		        			<li>M</li>
		        			<li>N</li>
		        			<li>O</li>
		        			<li>P</li>
		        			<li>Q</li>
		        			<li>R</li>
		        			<li>S</li>
		        			<li>T</li>
		        			<li>U</li>
		        			<li>V</li>
		        			<li>W</li>
		        			<li>X</li>
		        			<li>Y</li>
		        			<li>Z</li>
		        			<li class="provinceLi">全部</li>
		        		</ul>
		        	</div>
		        	<div class="city-list" id="compLabelPop">
		        		<ul>
		        		</ul>
		        	</div>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn default"  id="compLabelSave">确定</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal fade myModal01" id="myModalQuotes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">主办券商</h4>
		      </div>
		      <div class="modal-body">
		        <div class="province" id="comProvince">
		        	<div class="province-ul">
		        		<!--<input type="text" name="" id="" value="" placeholder="可输入拼音汉字查找"/>-->
		        	</div>
		        	<div class="city-list">
		        		<ul>
		        			
		        		</ul>
		        	</div>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn default" id="compProvSave">确定</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal fade myModal01" id="myModal04" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel"></h4>
		      </div>
		      <div class="modal-body">
		      	<div class="tab-pane ipoIndexTab">
					<div class="msg-wrap">
						<div class="msg-title">基本信息</div>
						<div class="msg-detail ">
							<span>
								指数名称：全国中小企业股份转让系统拟IPO指数<br>
								指数简称：三板IPO指数<br>
								指数代码：NIPO
							</span>
						</div>
					</div>
					<div class="msg-wrap">
						<div class="msg-title">指数基准日和基点</div>
						<div class="msg-detail">
							<span>指数以2015年7月1日为基日，以该日收盘后所有符合入选条件的样本股的调整市值为基期，以1000点为基点</span>
						</div>
					</div>
					<div class="msg-wrap">
						<div class="msg-title">样本选取方法</div>
						<div class="msg-detail">
							<span>
								样本由同时满足以下条件的全国中小企业股份转让系统挂牌公司组成：<br>
								1、股票挂牌后，对应企业在股转系统官网宣布进入上市辅导，次交易日日纳入；<br>
								2、股票对应企业宣布终止辅导后，次交易日剔除
							</span>
						</div>
					</div>
					<div class="msg-wrap">
						<div class="msg-title">指数计算</div>
						<div class="msg-detail">
							<span>
								指数的计算公式为：<br>
								报告期指数=报告期成份股的调整市值/除数*1000<br>
								其中：调整市值＝ ∑(股价×流通股本数×权重上限因子)，权重上限因子减弱个股异常波动对于整体指数影响
							</span>
						</div>
					</div>
					<div class="msg-wrap">
						<div class="msg-title">指数调整</div>
						<div class="msg-detail">
							<span>指数根据成份是否满足样本条件而不定期调整。</span>
						</div>
					</div>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- BEGIN HEADER -->
		<div class="page-header navbar navbar-fixed-top">
			<!-- BEGIN HEADER INNER -->
			<div class="page-header-inner">
				<!-- BEGIN LOGO -->
				<div class="page-logo">
					<a href="/index.php/companylisted/index">
						
					</a>
					<div class="menu-toggler sidebar-toggler hide">
					</div>
				</div>
				<!-- END LOGO -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
				</a>
				<div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-extended dropdown-notification mgr20" id="header_notification_bar">
                            <a href="/account/buy" class="dropdown-toggle" style="height:55px">
                                <i class="fa fa-dollar"></i>
                                <span class="badge badge-default" style="right: -18px">购买</span>
                            </a>
                        </li>
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="" />
                                <span class="username username-hide-on-mobile"></span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                             <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="/account/info">
                                        <i class="icon-user"></i>我的三板慧</a>
                                </li>
                                <li class="pay">
                                    <a href="JavaScript:void(0)" id="dk">
                                        <i class="fa fa-check-square-o"></i><span>每日打卡</span></a>
                                </li>
                                <li>
                                    <a href="/account/modifyPassword">
                                        <i class="fa fa-pencil-square-o"></i>修改密码 </a>
                                </li>
                                <li>
                                    <a href="/account/version">
                                        <i class="fa fa-file-o"></i>版本介绍 
                                    </a>
                                </li>
                                <li>
                                    <a href="/account/feedback">
                                        <i class="icon-envelope-open"></i>意见反馈
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/logout">
                                        <i class="fa fa-sign-out"></i>退出 </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
				<!-- END TOP NAVIGATION MENU -->
				 <!--PC端搜索框-->
	           <div class="pc-search hidden-xs hidden-sm">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <input type="text" name="" id="searchBlur" value="" placeholder="搜索公司，基金，资料" />
                    <div class="searchList">
                        <ul></ul>
                    </div>
                </div>
			</div>
			<!-- END HEADER INNER -->
		</div>
		<!-- END HEADER -->
		<div class="clearfix">
		</div>
		<!-- BEGIN CONTAINER -->
		<div class="page-container">
			<!-- BEGIN SIDEBAR -->
			<div class="page-sidebar-wrapper">
				<div class="page-sidebar navbar-collapse collapse">
					<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
						<li class="sidebar-toggler-wrapper">
							<div class="sidebar-toggler">
							</div>
						</li>
						<li class="sidebar-search-wrapper">
							<form class="sidebar-search " action="extra_search.html" method="POST">
								<a href="javascript:;" class="remove">
									<i class="icon-close"></i>
								</a>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="搜索">
									<span class="input-group-btn">
							<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
							</span>
								</div>
							</form>
							<!-- END RESPONSIVE QUICK SEARCH FORM -->
						</li>
						<li class="start active open">
							<a href="javascript:;">
								<i class="icon-home"></i>
								<span class="title">新三板</span>
								<span class="selected"></span>
								<span class="arrow open"></span>
							</a>
							<ul class="sub-menu">
								<li class="active">
									<a href="挂牌公司列表页.html">挂牌公司</a>
								</li>
								<li>
									<a href="公告.html">公告</a>
								</li>
								<li>
									<a href="定增.html">定增</a>
								</li>
								<li>
									<a href="交易.html">交易</a>
								</li>
								<li>
									<a href="#">主办券商</a>
								</li>
								<li>
									<a href="#">政策法规</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:;">
								<!--<i class="icon-basket"></i>-->
								<span class="title">投资</span>
								<span class="arrow "></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="投资事件.html">投资事件</a>
								</li>
								<li>
									<a href="投资机构列表页.html">投资机构</a>
								</li>
								<li>
									<a href="#">私募基金管理人</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<!--<i class="icon-rocket"></i>-->
								<span class="title">新闻</span>
								<span class="arrow "></span>
							</a>

						</li>
						<li>
							<a href="javascript:;">
								<!--<i class="icon-diamond"></i>-->
								<span class="title">研报</span>
								<span class="arrow "></span>
							</a>

						</li>
						<li>
							<a href="#">
								<!--<i class="icon-puzzle"></i>-->
								<span class="title">关系查找</span>
								<span class="arrow "></span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<!--<i class="icon-basket"></i>-->
								<span class="title">登录和注册</span>
								<span class="arrow "></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="登录.html">
										<!--<i class="icon-home"></i>-->
										登录</a>
								</li>
								<li>
									<a href="用户注册1.html">
										<!--<i class="icon-basket"></i>-->用户注册1</a>
								</li>
								<li>
									<a href="用户注册2.html">
										<!--<i class="icon-tag"></i>-->用户注册2</a>
								</li>
								<li>
									<a href="注册成功3.html">
										<!--<i class="icon-tag"></i>-->注册成功3</a>
								</li>
							</ul>
						</li>
					</ul>
					<!-- END SIDEBAR MENU -->
				</div>
			</div>
			<!-- END SIDEBAR -->
			<!-- BEGIN CONTENT -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<!-- BEGIN PAGE HEADER-->
					<div class="page-bar">
						<ul class="page-breadcrumb">
							<li>
								<i class="fa fa-home"></i>
								新三板
								<i class="fa fa-angle-right"></i>
							</li>
							<li>
								实时行情
							</li>
							<li class='nowTimeTop'>
								北京时间：<span id="nowDate"></span>
							</li>
						</ul>
					</div>
					<div class="page-content-par">
					<div class="row mod-title">
						<div class="col-md-12">实时行情</div>
					</div>
					<div class="page-height"></div>
					<div class="row">
						<div class="col-md-12">
							<div class="tabbable-line boxless tabbable-reversed">
								<ul class="list-inline overLi-btn overLi-btn-link col-show">
									<li class="">
										<a href="#tab_0" data-toggle="tab">行情概览 </a>
									</li>
									<!--<li>
										<a href="#tab_1" data-toggle="tab">报单监控</a>
									</li>-->
									<li>
										<a href="#tab_2" data-toggle="tab">保单监控</a>
									</li>
									<li  class="overli-noborder">
										<a href="#tab_3" data-toggle="tab">行情列表</a>
									</li>
								</ul>
								<div class="tab-content reset-col" id="tabComps">
									<div class="tab-pane" id="tabComp">
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END CONTAINER -->
			<!-- BEGIN FOOTER -->
			<div class="page-footer">
				<div class="page-footer-inner">
					&copy;&nbsp;2016&nbsp;北京凯峰数据科技有限公司&nbsp;版权所有&nbsp;|&nbsp;京ICP备16037008号-1
				</div>
				<div class="scroll-to-top">
					<i class="icon-arrow-up"></i>
				</div>
			</div>
			<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
			<!-- BEGIN CORE PLUGINS -->
			<!--[if lte IE 8]><script src="js/libs/selectivizr.js"></script><![endif]-->
			<!--[if lt IE 9]>
			<script src="../../assets/global/plugins/respond.min.js"></script>
			<script src="../../assets/global/plugins/excanvas.min.js"></script> 
			<![endif]-->
			<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
			<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
			<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
			<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
			<script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
			<script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
			<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
			<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
			<!-- BEGIN PAGE LEVEL SCRIPTS -->
			<script type="text/javascript" src="../../assets/global/plugins/query.js"></script>
			<script type="text/javascript" src="../../assets/global/plugins/paging.js"></script>
			<script src="../../assets/global/plugins/jquery.cookie.js" type="text/javascript"></script>
			<script src="../../assets/global/plugins/sockjs-0.3.min.js" type="text/javascript"></script>
			<script src="../../assets/global/plugins/stomp.js" type="text/javascript"></script>
			<script src="../../assets/global/plugins/datatables/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
			<script src="../../assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js" type="text/javascript"></script>
			<script src="../../assets/global/plugins/echarts/build/dist/echarts.js"></script>
			<script src="../../assets/global/scripts/kfStyle.js" type="text/javascript"></script>
			<script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
			<script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
			<script src="../../assets/global/scripts/application.js" type="text/javascript"></script>
			<script src="../../assets/global/scripts/getTable.js" type="text/javascript"></script>
			<script type="text/javascript" src="../../assets/global/plugins/select2.js"></script>
			<!-- END PAGE LEVEL SCRIPTS -->
			<script>
				jQuery(document).ready(function() {
					var pageUrl = "";
                    var currentTab = Query.getHash("currentTab");
                    if (isNullOrEmpty(currentTab)) {
                        pageUrl = $.kf.GETQUOTESTPL+"?type=overview";
						pageUrl = "./realQuotes/realQuotesPicture.html";
                        $(".overLi-btn").find("li").eq(0).addClass("active").siblings().removeClass("active");
                    } else if (currentTab == "tab0") {
                        pageUrl = $.kf.GETQUOTESTPL+"?type=overview";
						pageUrl = "./realQuotes/realQuotesPicture.html";
                        $(".overLi-btn").find("li").eq(0).addClass("active").siblings().removeClass("active");
                    } else if (currentTab == "tab1") {
                        pageUrl = $.kf.GETQUOTESTPL+"?type=realTimeQuotes";
						pageUrl = "./realQuotes/declarationDetail.html";
                        $(".overLi-btn").find("li").eq(1).addClass("active").siblings().removeClass("active");
                    } else if (currentTab == "tab2") {
                        pageUrl = $.kf.GETQUOTESTPL+"?type=realTimeQuotes";
						pageUrl = "./realQuotes/realQuotesTable.html";
                        $(".overLi-btn").find("li").eq(2).addClass("active").siblings().removeClass("active");
                    } 
					//律师事务所执行list按钮；
					KfStyle.init(); 
					Layout.init();
					var ind = '';
					pageFun(pageUrl);
					function pageFun(pageUrl){
						new LoadingAjax($("#tabComps"), {}, $("#tabComp")).init();
						$.ajax({
					        type: "get",
					        url: pageUrl,
					        data: "",
					        dataType: "HTML",
					        success: function (data) {
					        	new LoadingAjax($("#tabComps"), {}, $("#tabComp")).close();
					        	$("#tabComp").empty("").html("").append(data);
					        }
					    });
					}
					
					$(".overLi-btn").find("a").on("click",function(){
						clearInterval(timePicker);
						var sid = Query.getHash("sid");
						var r = Query.getHash("r");
						window.location.search = 'sid=' + sid + '&r=' + r + '&currentTab=tab' + $(this).parent().index();
					});
				
				});
			</script>
	</body>
	<!-- END BODY -->

</html>
