<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- BEGIN HEAD -->

	<head>
		<meta charset="utf-8" />
		<title>搜索｜三板慧｜金融大数据</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
		<link rel="stylesheet" type="text/css" href="../../assets/admin/layout/css/paging.css">
		<link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
	</head>

	<body class="page-header-fixed page-quick-sidebar-over-content page-container-bg-solid">
		<!--头部-->
		<div class="modal fade myModal01" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">省份选择</h4>
		      </div>
		      <div class="modal-body">
		        <div class="province" id="comProvince">
		        	<div class="province-ul">
		        		<!--<input type="text" name="" id="" value="" placeholder="可输入拼音汉字查找"/>-->
		        	</div>
		        	<div class="city-list">
		        		<ul>
		        			<li name="province010">辽宁</li>
		        			<li name="province011">吉林</li>
		        			<li name="province012">黑龙江</li>
		        			<li name="province013">江苏</li>
		        			<li name="province014">浙江</li>
		        			<li name="province015">安徽</li>
		        			<li name="province016">江西</li>
		        			<li name="province017">福建</li>
		        			<li name="province018">湖北</li>
		        			<li name="province019">湖南</li>
		        			<li name="province020">四川</li>
		        			<li name="province021">贵州</li>
		        			<li name="province022">云南</li>
		        			<li name="province023">广东</li>
		        			<li name="province024">海南</li>
		        			<li name="province025">甘肃</li>
		        			<li name="province026">青海</li>
		        			<li name="province027">台湾</li>
		        			<li name="province028">内蒙古</li>
		        			<li name="province029">新疆</li>
		        			<li name="province030">西藏</li>
		        			<li name="province031">广西</li>
		        			<li name="province032">宁夏</li>
		        			<li name="province033">香港</li>
		        			<li name="province034">澳门</li>
		        		</ul>
		        	</div>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn default" id="compProvSave">确定</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal fade myModal01" id="myModal03" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">所属行业</h4>
		      </div>
		      <div class="modal-body">
		        <div class="province">
		        	<div class="province-ul">
		        		<ul>
		        			<li>A</li>
		        			<li>B</li>
		        			<li>C</li>
		        			<li>D</li>
		        			<li>E</li>
		        			<li>F</li>
		        			<li>G</li>
		        			<li>H</li>
		        			<li>I</li>
		        			<li>J</li>
		        			<li>K</li>
		        			<li>L</li>
		        			<li>M</li>
		        			<li>N</li>
		        			<li>O</li>
		        			<li>P</li>
		        			<li>Q</li>
		        			<li>R</li>
		        			<li>S</li>
		        			<li>T</li>
		        			<li>U</li>
		        			<li>V</li>
		        			<li>W</li>
		        			<li>X</li>
		        			<li>Y</li>
		        			<li>Z</li>
		        			<li class="provinceLi">全部</li>
		        		</ul>
		        		<!--<input type="text" name="" id="" value="" placeholder="可输入拼音汉字查找"/>-->
		        	</div>
		        	<div class="city-list indPop" id="compPop2">
		        		<ul>
		        			
		        		</ul>
		        	</div>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn default"  id="industrySave">确定</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="modal fade myModal01" id="myModal04" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">慧标签</h4>
		      </div>
		      <div class="modal-body">
		        <div class="province">
		        	<div class="province-ul">
		        		<ul>
		        			<li>A</li>
		        			<li>B</li>
		        			<li>C</li>
		        			<li>D</li>
		        			<li>E</li>
		        			<li>F</li>
		        			<li>G</li>
		        			<li>H</li>
		        			<li>I</li>
		        			<li>J</li>
		        			<li>K</li>
		        			<li>L</li>
		        			<li>M</li>
		        			<li>N</li>
		        			<li>O</li>
		        			<li>P</li>
		        			<li>Q</li>
		        			<li>R</li>
		        			<li>S</li>
		        			<li>T</li>
		        			<li>U</li>
		        			<li>V</li>
		        			<li>W</li>
		        			<li>X</li>
		        			<li>Y</li>
		        			<li>Z</li>
		        			<li class="provinceLi">全部</li>
		        		</ul>
		        		<!--<input type="text" name="" id="" value="" placeholder="可输入拼音汉字查找"/>-->
		        	</div>
		        	<div class="city-list indPop" id="compPop3">
		        		<ul>
		        			
		        		</ul>
		        	</div>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn default"  id="bqSave">确定</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="page-header navbar navbar-fixed-top">
			<div class="page-header-inner">
				<div class="page-logo">
					<a href="/index.php/companylisted/index">
						<img src="../../assets/admin/layout/img/logo.png" alt="logo" class="logo-default" />
					</a>

					<div class="menu-toggler sidebar-toggler hide">
					</div>
				</div>
			</div>
			<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
			</a>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-extended dropdown-notification mgr20" id="header_notification_bar">
                        <a href="/account/buy" class="dropdown-toggle" style="height:55px">
                            <i class="fa fa-dollar"></i>
                            <span class="badge badge-default" style="right: -18px">购买</span>
                        </a>
                    </li>
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="" />
                            <span class="username username-hide-on-mobile"></span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="/account/info">
                                    <i class="icon-user"></i>我的三板慧</a>
                            </li>
                            <li class="pay">
                                <a href="JavaScript:void(0)" id="dk">
                                    <i class="fa fa-check-square-o"></i><span>每日打卡</span></a>
                            </li>
                            <li>
                                <a href="/account/modifyPassword">
                                    <i class="fa fa-pencil-square-o"></i>修改密码 </a>
                            </li>
                            <li>
                                <a href="/account/version">
                                    <i class="fa fa-file-o"></i>版本介绍 
                                </a>
                            </li>
                            <li>
                                <a href="/account/feedback">
                                    <i class="icon-envelope-open"></i>意见反馈
                                </a>
                            </li>
                            <li>
                                <a href="/user/logout">
                                    <i class="fa fa-sign-out"></i>退出 </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
			<!--PC端搜索框-->
			 <div class="pc-search hidden-xs hidden-sm">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <input type="text" name="" id="searchBlur" value="" placeholder="搜索公司，基金，资料" />
                <div class="searchList">
                    <ul></ul>
                </div>
            </div>
		</div>
		</div>
		<div class="clearfix"></div>
		<!--content-->
		<div class="page-container">
			<div class="page-sidebar-wrapper">
				<!--侧边栏-->
				<div class="page-sidebar navbar-collapse collapse">
					<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
						<li class="sidebar-toggler-wrapper">
							<div class="sidebar-toggler">
							</div>
						</li>
						<!--mobile搜索框-->
						<li class="sidebar-search-wrapper visible-sm-inline-block visible-xs-inline-block">
							<form class="sidebar-search " action="extra_search.html" method="POST">
								<a href="javascript:;" class="remove">
									<i class="icon-close"></i>
								</a>
								<div class="input-group">
									<input type="text" class="form-control mobile-ipt" placeholder="搜索">
									<span class="input-group-btn">
							<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
							</span>
								</div>
							</form>
						</li>
						<li class="start active open">
							<a href="javascript:;">
								<i class="icon-home"></i>
								<span class="title newThree">新三板</span>
								<span class="selected"></span>
								<span class="arrow open"></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="挂牌公司列表页.html">
										<!--<i class="icon-bar-chart"></i>-->
										挂牌公司</a>
								</li>
								<li>
									<a href="公告.html">
										<!--<i class="icon-bulb"></i>-->
										公告</a>
								</li>
								<li class="active">
									<a href="定增.html">
										<!--<i class="icon-graph"></i>-->定增</a>
								</li>
								<li>
									<a href="交易.html">
										<!--<i class="icon-graph"></i>-->
										交易</a>
								</li>
								<li>
									<a href="#">
										<!--<i class="icon-graph"></i>-->
										主办券商</a>
								</li>
								<li>
									<a href="#">
										<!--<i class="icon-graph"></i>-->
										政策法规</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:;">
								<i class="icon-basket"></i>
								<span class="title newtz">投资</span>
								<span class="arrow "></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="投资事件.html">
										<!--<i class="icon-home"></i>-->
										投资事件</a>
								</li>
								<li>
									<a href="投资机构列表页.html">
										<!--<i class="icon-basket"></i>-->
										投资机构</a>
								</li>
								<li>
									<a href="#">
										<!--<i class="icon-tag"></i>-->
										私募基金管理人</a>
								</li>

							</ul>
						</li>
						<li>
							<a href="#">
								<i class="icon-rocket"></i>
								<span class="title newNew">新闻</span>
								<span class="arrow "></span>
							</a>

						</li>
						<li>
							<a href="javascript:;">
								<i class="icon-diamond"></i>
								<span class="title newyb">研报</span>
								<span class="arrow "></span>
							</a>

						</li>
						<li>
							<a href="#">
								<i class="icon-puzzle"></i>
								<span class="title newrel">关系查找</span>
								<span class="arrow "></span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="icon-basket"></i>
								<span class="title newlogin">登录和注册</span>
								<span class="arrow "></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="登录.html">
										<!--<i class="icon-home"></i>-->
										登录</a>
								</li>
								<li>
									<a href="用户注册1.html">
										<!--<i class="icon-basket"></i>-->用户注册1</a>
								</li>
								<li>
									<a href="用户注册2.html">
										<!--<i class="icon-tag"></i>-->用户注册2</a>
								</li>
								<li>
									<a href="注册成功3.html">
										<!--<i class="icon-tag"></i>-->注册成功3</a>
								</li>

							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="page-content-wrapper">
				<div class="page-content">
					<!--页面标题-->
					<div class="page-bar">
						<ul class="page-breadcrumb">
							<li>
								<i class="fa fa-home"></i>
								搜索
								<i class="fa fa-angle-right"></i>
							</li>
							<li>
								搜索结果
							</li>
							<li class='nowTimeTop'>
								北京时间：<span id="nowDate"></span>
							</li>
						</ul>
					</div>
					<div class="page-content-par">
					<!--页面2级标题-->
						<div class="row mod-title">
							<div class="col-md-12">搜索结果</div>
						</div>
						<div class="page-height">
							
						</div>
						<!--下面表单开始-->
						<div class="portlet box darkCyan">
							<ul class="list-inline overLi-btn overLi-btn-link col-show">
								<!--<li class="active">
									<a href="#tab_0" data-toggle="tab">股票 <span class="count1">（0）</span></a>
								</li>-->
								<li  class="active">
									<a href="#tab_1" data-toggle="tab">公司 <span class="count2">（-）</span></a>
								</li>
								<li class="">
									<a href="#tab_0" data-toggle="tab">投资机构 <span class="count1">（-）</span></a>
								</li>
								<li class="">
									<a href="#tab_2" data-toggle="tab">公告<span class="count3">（-）</span></a>
								</li>
								<li class="">
									<a href="#tab_3" data-toggle="tab">新闻 <span class="count4">（-）</span></a>
								</li>
								<li class="">
									<a href="#tab_4" data-toggle="tab">研报 <span class="count5">（-）</span></a>
								</li>
								<li class="">
									<a href="#tab_5" data-toggle="tab">政策法规 <span class="count6">（-）</span></a>
								</li>
								<li class="overli-noborder">
									<a href="#tab_6" data-toggle="tab">投资事件 <span class="count7">（-）</span></a>
								</li>
							</ul>
							<div class="tab-content pdt" id="tabComps">
								<div class="tab-pane" id="tab_0">
									<!--下面表单开始-->
									<div class="portlet box darkCyan">
										<div class="portlet-body tab-content maskInTable maskInTable1">
											<div class="portlet-body flip-scroll">
												<table class="table  table-bordered table-striped table-condensed flip-content table-team">
													<colgroup>
														<col width='50%' />
														<col width='20%' />
														<col width='20%' />
														<col width='10%' />
													</colgroup>
													<thead>
														<tr role="row" class="tr">
															<th class="">
																<b>机构名称</b>
															</th>
															<th style='text-align:center;'>
																<b>最新投资项目</b>
															</th>
															<th style='text-align:center;'>
																<b>2017年总投资数</b>
															</th>
															<th style='text-align:center;'>
																<b>操作</b>
															</th>
														</tr>
													</thead>
													<tbody class="touzi-table touzi-team" id="companyCodeList">
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!--表单结束-->
									<div id="pageTool"></div>
								</div>
								<div class="tab-pane active" id="tab_1">
									<div id="searchCompany" style="min-height: 400px;position: relative;">
										
									</div>
								</div>
								<div class="tab-pane" id="tab_2">
									<!--下面表单开始-->
									<div class="portlet box darkCyan">
										<div class="portlet-body tab-content maskInTable maskInTable3">
											<div class="portlet-body flip-scroll">
												<table class="table  table-bordered table-striped table-condensed flip-content table-team">
													<thead>
														<tr role="row" class="tr">
															<th class="pdl10">
																<b>公告标题</b>
															</th>
															<th style='text-align:center;'>
																<b>公告日期</b>
															</th>
															<th style='text-align:center;'>
																<b>公告类型</b>
															</th>
															<th style='text-align:center;'>
																<b>证券代码</b>
															</th>
															<th style='text-align:center;'>
																<b>证券名称</b>
															</th>
														</tr>
													</thead>
													<tbody class="touzi-table touzi-team" id="Gnote">
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!--表单结束-->
									<div id="pageTool2"></div>
								</div>
								<div class="tab-pane" id="tab_3">
									<!--下面表单开始-->
									<div class="portlet box darkCyan">
										<div class="portlet-body tab-content maskInTable maskInTable4">
											<div class="portlet-body flip-scroll">
												<table class="table  table-bordered table-striped table-condensed flip-content table-team">
													<colgroup>
														<col width="75%" />
														<col width="10%" />
														<col width="15%" />
													</colgroup>
													<thead>
														<tr role="row" class="tr">
															<th class="">
																<b>新闻标题</b>
															</th>
															<th style="text-align: center;">
																<b>日期</b>
															</th>
															<th  style="text-align: center;">
																<b>来源</b>
															</th>
														</tr>
													</thead>
													<tbody class="touzi-table touzi-team tableNews" id="newsTable">

													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!--表单结束-->
									<div id="pageTool3"></div>
								</div>
								<div class="tab-pane" id="tab_4">
									<!--下面表单开始-->
									<div class="portlet box darkCyan">
										<div class="portlet-body tab-content maskInTable maskInTable5">
											<div class="portlet-body flip-scroll">
												<table class="table  table-bordered table-striped table-condensed flip-content table-team">
													<colgroup>
														<col width="15%" />
														<col width="50%" />
														<col width="20%" />
														<col width="15%" />
													</colgroup>
													<thead>
														<tr role="row" class="tr">
															<th scope="col" style="text-align: center;">
																<b>发布日期</b>
															</th>
															<th scope="col" style="text-align: center;">
																<b>研报标题</b>
															</th>
															<th scope="col" style="text-align: center;">
																<b>机构</b>
															</th>
															<th scope="col" style="text-align: center;">
																<b>作者</b>
															</th>
														</tr>
													</thead>
													<tbody class="touzi-table touzi-team" id="tableOne">
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<!--表单结束-->
									<div id="pageTool4"></div>
								</div>
								<div class="tab-pane" id="tab_5">
									<div class="portlet box darkCyan maskInTable  maskInTable6" id="lawList">
						
									</div>
									<!--表单结束-->
									<div id="lawPage"></div>
								</div>
								<div class="tab-pane" id="tab_6">
									<!--下面表单开始-->
									<div class="portlet">
										<div class="portlet-body maskInTable maskInTable7">
											<div class="table-scrollable">
												<table class="table table-striped table-bordered table-hover dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
													<colgroup>
														<col width="20%" />
														<col width="10%" />
														<col width="25%" />
														<col width="10%" />
														<col width="7%" />
														<col width="10%" />
														<col width="10%" />
														<col width="8%" />
													</colgroup>
													<thead>
														<tr role="row" class="tr">
															<th>
																公司名称
															</th>
															<th>
																行业
															</th>
															<th>
																投资机构
															</th>
															<th>
																投资轮次
															</th>
															<th>
																投资币种
															</th>
															<th>
																投资金额
															</th>
															<th>
																投资日期
															</th>
															<th>
																描述
															</th>
														</tr>
													</thead>
													<tbody id="investList">
														
													</tbody>
												</table>
												
											</div>
											<div id="pageThing"></div>
											</div>
											
										</div>
									</div>
									<!--表单结束-->
								</div>
							</div>
						</div>
						<!--表单结束-->
					</div>
				</div>
				<!-- 底部 -->
				<div class="page-footer">
					<div class="page-footer-inner">
						&copy;&nbsp;2016&nbsp;北京凯峰数据科技有限公司&nbsp;版权所有&nbsp;|&nbsp;京ICP备16037008号-1
					</div>
					<div class="scroll-to-top">
						<i class="icon-arrow-up"></i>
					</div>
				</div>
				<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
				<!-- BEGIN CORE PLUGINS -->
				<!--[if lte IE 8]><script src="js/libs/selectivizr.js"></script><![endif]-->
				<!--[if lt IE 9]>
				<script src="../../assets/global/plugins/respond.min.js"></script>
				<script src="../../assets/global/plugins/excanvas.min.js"></script> 
				<![endif]-->
				<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
				<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
				<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/jquery.cookie.js" type="text/javascript"></script>
				<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
				<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
				<!-- BEGIN PAGE LEVEL SCRIPTS -->
				<script type="text/javascript" src="../../assets/global/plugins/query.js"></script>
				<script type="text/javascript" src="../../assets/global/plugins/paging.js"></script>
				<script src="../../assets/global/plugins/jquery.cookie.js" type="text/javascript"></script>
				<script src="../../assets/global/scripts/kfStyle.js" type="text/javascript"></script>
				<script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
				<script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
				<script src="../../assets/global/scripts/application.js" type="text/javascript"></script>
				<script src="../../assets/global/scripts/getTable.js"></script>
				<script src="../../assets/global/scripts/user/searchResult.js" type="text/javascript"></script>
				<!-- END PAGE LEVEL SCRIPTS -->
				<script>
					jQuery(document).ready(function() {
						KfStyle.init(); // init metronic core componets
						Layout.init(); // init layout
						searchResult.init();
					});
				</script>
	</body>
	<!-- END BODY -->

</html>