<!DOCTYPE html>
<!--[if IE 8]>
  <html lang="en" class="ie8 no-js">
  <![endif]-->
<!--[if IE 9]>
    <html lang="en" class="ie9 no-js">
    <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
	<meta charset="utf-8" />
		<title>用户认证</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
 		<link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
		<link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/register.css" rel="stylesheet" type="text/css" />
		<!-- END THEME STYLES -->
	</head>

	<body class="login clock">
		<!-- BEGIN LOGO -->
		<div class="logo">
			<a class="logo-index" href="/index.php/companylisted/index">
				<img src="../../assets/admin/layout/img/logo.png" alt="" /></a>
		</div>
		<div class="stepCon">
				<div class="stepLeft pull-left">
					<hr class="active" />
					<span class="stepFirst active">1</span><span class="stepSecond active">2</span>
				</div>
				<div class="stepRight pull-right">
					<hr class="active" />
					<span class="stepThree active">3</span>
				</div>
		</div>

		<div class="content">
			<!-- BEGIN LOGIN FORM -->
				<h3 class="form-title register-success" style="margin-top: 50px;font-size:16px;color: #222222;">您的试用权限已到期</h3>
				<div class="regi-color">
						<p style="font-size:16px;">请申请认证获取长期使用权限</p>
						<span>服务电话&nbsp;&nbsp;<a href="tel:400-6262-168">400-6262-168</a></br></span>
						<span>联系邮箱&nbsp;&nbsp;<a href="mailto:sales@kaifengdata.com">sales@kaifengdata.com</a></br></span>
						<!--<span>联系邮箱&nbsp;&nbsp;sales@kaifengdata.com</br></span>-->
						<!--<b>认证用户享受长期授权</b>-->
				</div>
				<div class="register-con register-con3" style="margin-top: 50px;"> 
						<button id="toCertifyHtml" class="btn btn-primary btn-block uppercase">立即认证</button>
						<a href="https://www.kaifengdata.com" type="submit" id="reg03" class="blue pull-right login-backIndex">返回官网</a>
					</div>
		</div>
		<!--注册页面一结束-->
<div class="page-footer">
    <div class="page-footer-inner">
        ©&nbsp;2016-2017&nbsp;北京凯峰数据科技有限公司&nbsp;版权所有&nbsp;|&nbsp;京ICP备16037008号-1&nbsp;（为了保证最佳体验，请采用Chrome或IE10以上的浏览器）
    </div>
</div>
	<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
		<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
		<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="../../assets/global/scripts/kfStyle.js" type="text/javascript"></script>
		<script src="../../assets/global/plugins/jquery.cookie.js" type="text/javascript"></script>
		<script src="../../assets/global/scripts/application.js" type="text/javascript"></script>
		<script src="../../assets/global/scripts/user/register.js" type="text/javascript"></script>
		<script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
		<script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
		<!--<script src="../../assets/admin/pages/scripts/login.js" type="text/javascript"></script>-->
	</body>

</html>