<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- BEGIN HEAD -->

	<head>
		<meta charset="utf-8" />
		<title>版本详情</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
		<link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
		<link rel="stylesheet" type="text/css" href="../../assets/admin/layout/css/paging.css">
		<link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
	</head>

	<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid">
		<!--头部-->
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner">
                <div class="page-logo">
                    <a href="/index.php/companylisted/index">
                        <img src="../../assets/admin/layout/img/logo.png" alt="logo" class="logo-default" />
                    </a>

                    <div class="menu-toggler sidebar-toggler hide">
                    </div>
                </div>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-extended dropdown-notification mgr20" id="header_notification_bar">
                        <a href="/account/buy" class="dropdown-toggle" style="height:55px">
                            <i class="fa fa-dollar"></i>
                            <span class="badge badge-default" style="right: -18px">购买</span>
                        </a>
                    </li>
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="">
                            <span class="username username-hide-on-mobile"></span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="/account/info">
                                    <i class="icon-user"></i>我的三板慧</a>
                            </li>
                            <li class="pay">
                                <a href="JavaScript:void(0)" id="dk">
                                    <i class="fa fa-check-square-o"></i><span>每日打卡</span></a>
                            </li>
                            <li>
                                <a href="/account/modifyPassword">
                                    <i class="fa fa-pencil-square-o"></i>修改密码 </a>
                            </li>
                            <li>
                                <a href="/account/version">
                                    <i class="fa fa-file-o"></i>版本介绍 
                                </a>
                            </li>
                            <li>
                                <a href="/account/feedback">
                                    <i class="icon-envelope-open"></i>意见反馈
                                </a>
                            </li>
                            <li>
                                <a href="/user/logout">
                                    <i class="fa fa-sign-out"></i>退出 </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--PC端搜索框-->
             <div class="pc-search hidden-xs hidden-sm">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <input type="text" name="" id="searchBlur" value="" placeholder="搜索公司，基金，资料" />
                    <div class="searchList">
                        <ul></ul>
                    </div>
            </div>
        </div>
		</div>
		<div class="clearfix"></div>
		<!--content-->
		<div class="page-container">
			<div class="page-sidebar-wrapper">
				<!--侧边栏-->
				<div class="page-sidebar navbar-collapse collapse">
					<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
						<li class="sidebar-toggler-wrapper">
							<div class="sidebar-toggler">
							</div>
						</li>
						<!--mobile搜索框-->
						<li class="sidebar-search-wrapper visible-sm-inline-block visible-xs-inline-block">
							<form class="sidebar-search " action="extra_search.html" method="POST">
								<a href="javascript:;" class="remove">
									<i class="icon-close"></i>
								</a>
								<div class="input-group">
									<input type="text" class="form-control mobile-ipt" placeholder="搜索">
									<span class="input-group-btn">
							<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
							</span>
								</div>
							</form>
						</li>
						<li class="start active open">
							<a href="javascript:;">
								<i class="icon-home"></i>
								<span class="title newThree">新三板</span>
								<span class="selected"></span>
								<span class="arrow open"></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="挂牌公司列表页.html">
										<!--<i class="icon-bar-chart"></i>-->
										挂牌公司</a>
								</li>
								<li>
									<a href="公告.html">
										<!--<i class="icon-bulb"></i>-->
										公告</a>
								</li>
								<li class="active">
									<a href="定增.html">
										<!--<i class="icon-graph"></i>-->定增</a>
								</li>
								<li>
									<a href="交易.html">
										<!--<i class="icon-graph"></i>-->
										交易</a>
								</li>
								<li>
									<a href="#">
										<!--<i class="icon-graph"></i>-->
										主办券商</a>
								</li>
								<li>
									<a href="#">
										<!--<i class="icon-graph"></i>-->
										政策法规</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:;">
								<i class="icon-basket"></i>
								<span class="title newtz">投资</span>
								<span class="arrow "></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="投资事件.html">
										<!--<i class="icon-home"></i>-->
										投资事件</a>
								</li>
								<li>
									<a href="投资机构列表页.html">
										<!--<i class="icon-basket"></i>-->
										投资机构</a>
								</li>
								<li>
									<a href="#">
										<!--<i class="icon-tag"></i>-->
										私募基金管理人</a>
								</li>

							</ul>
						</li>
						<li>
							<a href="#">
								<i class="icon-rocket"></i>
								<span class="title newNew">新闻</span>
								<span class="arrow "></span>
							</a>

						</li>
						<li>
							<a href="javascript:;">
								<i class="icon-diamond"></i>
								<span class="title newyb">研报</span>
								<span class="arrow "></span>
							</a>

						</li>
						<li>
							<a href="#">
								<i class="icon-puzzle"></i>
								<span class="title newrel">关系查找</span>
								<span class="arrow "></span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="icon-basket"></i>
								<span class="title newlogin">登录和注册</span>
								<span class="arrow "></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="登录.html">
										<!--<i class="icon-home"></i>-->
										登录</a>
								</li>
								<li>
									<a href="用户注册1.html">
										<!--<i class="icon-basket"></i>-->用户注册1</a>
								</li>
								<li>
									<a href="用户注册2.html">
										<!--<i class="icon-tag"></i>-->用户注册2</a>
								</li>
								<li>
									<a href="注册成功3.html">
										<!--<i class="icon-tag"></i>-->注册成功3</a>
								</li>

							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<ul class="page-breadcrumb">
							<li>
								<i class="fa fa-home"></i>
								版本详情
							</li>
							<li class='nowTimeTop'>
								北京时间：<span id="nowDate"></span>
							</li>
						</ul>
					</div>
					<div class="page-content-par" style="min-height: 600px;">
						<!--页面标题-->
						<div class="versionCon">
							<div class="row">
								<div style="max-width: 1060px; margin: 0 auto;">
									<div class="col-md-12">
										<h1>不断深入 • 只为浅出</h1>
										<h2 style="margin-bottom: 40px;">四项产品：SaaS平台 • 路演助手  • 督导助手 • 定制服务</h2>
									</div>
									<!--<div class="col-md-3">11</div>
									<div class="col-md-3">11</div>
									<div class="col-md-3">11</div>
									<div class="col-md-3">11</div>-->
									<h2 class="col-md-12 mgt20 margin-bottom-25">其他产品咨询请拨打 400-6262-168</h2>
								</div>
							</div>
							<div class="page-height"></div>
							<div class="row">
								<div style="max-width: 1060px; margin: 0 auto;">
									<div class="col-md-12" style="margin-bottom: 48px;">
										<h1>三板慧SaaS介绍</h1>
										<p>聚合场外、新三板、IPO信息，通过人工智能和机器学习挖掘数据深层关系，洞悉金融机构和企业需求，提供数据和场景化工具，验证投资逻辑，辅助投资策，研判市场风险，揭示未来趋势的SaaS平台。平台优势：快、深、懂</p>
									</div>
									<div class="col-md-12">
										<div class="versionConTime mgb20">
											<h3 style="color: #f57d4c;"><i></i>2017-02-27</h3>
											<h4 style="color: #FFFFFF; background: #f57d4c;">最新版本 v2.0（公开版）</h4>
											<h3 class="mgt10" style="color: #f57d4c;">分析功能</h3>
											<div class="contentP">
												1、结合监管与企业动态的风险预测<br/>
												2、根据业务特性和类型，进行多空研判<br />
												3、IPO企业预测<br />
												4、新闻情感分析<br />
												5、个人/机构投资偏好<br />
											</div>
											<h3 class="mgt10" style="color: #f57d4c;">统计功能</h3>
											<div class="contentP">
												1、分类查看股转信息动态<br/>
												2、19项企业信息维度，知识图谱直观展示<br />
												3、多维度统计概览<br />
												4、行情明细：当日报价和成交统计
											</div>
											<h3 class="mgt10" style="color: #f57d4c;">个性功能</h3>
											<div class="contentP">
												1、口语化搜索，多维度展示结果<br/>
												2、全市场自选信息收录
											</div>
											<h3><i></i>2017-01-07</h3>
											<h4>历史版本   v1.60beta</h4>
											<h3 class="mgt10">新增数据</h3>
											<div class="contentP">
												1、新增山西、财达、东北、华融、九州证券研报
											</div>
											<h3 class="mgt10">新增功能</h3>
											<div class="contentP">
												1、新三板公告业务分类，正负面标识<br />
												2、股转系统授权，接入新三板行情<br />												
												3、重要新闻提示<br />
												4、搜索功能新增：增发、人事变动、IPO计划
											</div>
											<h3><i></i>2016-12-24</h3>
											<h4>历史版本   v1.50beta</h4>
											<h3 class="mgt10">新增数据</h3>
											<div class="contentP">
												1、研报功能重新规划，增加研报内容
											</div>
											<h3 class="mgt10">新增功能</h3>
											<div class="contentP">
												1、企业信息、交易信息，动态提示<br />
												2、投融偏好，从行业和地区角度揭示新三板投融特点
											</div>
											<h3 class="mgt10">体验改进</h3>
											<div class="contentP">
												1、UI界面更新<br />
												2、增加市场概览												
											</div>
											<h3><i></i>2017-11-18</h3>
											<h4>历史版本   v1.10beta</h4>
											<h3 class="mgt10">新增数据</h3>
											<div class="contentP">
												1、新增公众号信息
											</div>
											<h3 class="mgt10">新增功能</h3>
											<div class="contentP">
												1、公告细分搜索，支持按类型、券商、行业、地区、关键词多维度查找<br />
												2、搜案例
											</div>
											<h3 class="mgt10">体验改进</h3>
											<div class="contentP">
												1、公告搜索结果一键收藏，整理查阅更方便<br />
												2、高级搜索结合热词指引
											</div>
											<h3><i></i>2017-10-15</h3>
											<h4>历史版本   v1.00beta</h4>
											<h3 class="mgt10">新增数据</h3>
											<div class="contentP">
												1、新三板数据：分类、做市、券商、行业、事件、价格<br />
												2、企业数据：企业风险、信用、投资、经营信息
											</div>
											<h3 class="mgt10">新增功能</h3>
											<div class="contentP">
												1、动态公告实时更新<br />
												2、全网新闻
											</div>
											<h3 class="mgt10">体验改进</h3>
											<div class="contentP">
												1、股权结构及高管信息全预览<br />
												2、精细化财务报表
											</div>
											<b></b>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 底部 -->
				<div class="page-footer">
					<div class="page-footer-inner">
						&copy;&nbsp;2016&nbsp;北京凯峰数据科技有限公司&nbsp;版权所有&nbsp;|&nbsp;京ICP备16037008号-1
					</div>
					<div class="scroll-to-top">
						<i class="icon-arrow-up"></i>
					</div>
				</div>
				<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
				<!-- BEGIN CORE PLUGINS -->
				<!--[if lte IE 8]><script src="js/libs/selectivizr.js"></script><![endif]-->
				<!--[if lt IE 9]>
				<script src="../../assets/global/plugins/respond.min.js"></script>
				<script src="../../assets/global/plugins/excanvas.min.js"></script> 
				<![endif]-->
				<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
				<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
				<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
				<script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
				<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
				<script type="text/javascript" src="../../assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
				<!-- BEGIN PAGE LEVEL SCRIPTS -->
				<script src="../../assets/global/scripts/kfStyle.js" type="text/javascript"></script>
				<script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
				<script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
				<script type="text/javascript" src="../../assets/global/plugins/query.js"></script>
				<script type="text/javascript" src="../../assets/global/plugins/paging.js"></script>
				<script src="../../assets/global/plugins/jquery.cookie.js" type="text/javascript"></script>
				<script src="../../assets/global/scripts/application.js" type="text/javascript"></script>
				<script src="../../assets/global/scripts/user/versionDetail.js" type="text/javascript"></script>

				<!-- END PAGE LEVEL SCRIPTS -->
				<script>
					jQuery(document).ready(function() {
						versionDetail.init();//获取内容版本内容
						KfStyle.init(); // init metronic core componets
						Layout.init(); // init layout
					});
				</script>
				
	</body>
	<!-- END BODY -->

</html>